.container.scalable {
    width: 100%;
    max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
    display: none;
}

body {
    background-color: #171b26;
    color: #737a8d;
}

.banner {
    height: 5rem;
    width: 90%;
    margin-bottom: 1rem;
    border-bottom: 0.5px #737a8d;
    padding: 0rem 4rem 0rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.banner Img {
    position: relative;
    height: 4rem;
    width: auto;
}

#upper-container, #lower-container {
    margin: 0 3rem;
}

#upper-left{
    padding: 0rem 2rem 1rem 2rem;
    display:flex;
    flex-direction:column;
    /*height: 30rem;*/
    /*justify-content: space-evenly;*/
}

#upper-left > div > div > label, 
#upper-left > div > label {
    font-weight: bold;
    margin: 2rem 1rem 0.8rem 1rem;
}

#select-state-metric {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

*.Select-control, Select--single, .Select-multi-value-wrapper, .Select-value, .Select-value-label {
    background-color: #171b26 !important;
    color: #7b7d8d !important;
}

.Select--single > .Select-control .Select-value {
  border: 1px solid dimgrey;
  border-radius: 4px;
}

.Select-control, .Select-menu-outer {
    border: 1px solid dimgrey !important;
}

span.Select-clear-zone {
    display: none !important;
}

.Select-menu-outer, .Select-menu-outer div, .Select--multi {
    background-color: #171b26 !important;
    color: #7b7d8d !important;
}

.Select-menu-outer div:hover {
    color: white !important;
    cursor: pointer;
}

#middle-container {
    height: 20rem;
    overflow-y: scroll;
    margin: 1rem 3rem;
}

#table-left > p, #table-right > p {
    font-weight: bold;
}

#lower-container {
    border-top: 1px solid #1f2536;
    height: 800px;
    overflow-y: scroll;
}

#procedure-plot {
    height: 6000px;
}

#geo-map-loading-outer {
    height: 55rem;
}

#geo-map {
    height: 50rem;
}


#select-metric-outer, #region-select-outer {
    display: inline-block;
}

#cost-stats-table, #procedure-stats-table {
    overflow: auto;
    /*overflow: scroll;*/
}

.section-title {
    margin: 0.6rem 0rem 2rem 0rem;
}

.dash-spreadsheet-container .dash-spreadsheet-inner th, td {
    text-align: center !important;
    font-family: "Open Sans", sans-serif !important;
    border-top-color: #171b26 !important;
    border-bottom-color: #171b26 !important;
    border-left-color: #171b26 !important;
    border-right-color: #171b26 !important;
    font-size: 11px;
}

.dash-filter input {
    color: #7b7d8d !important;
}

@media only screen and (max-width: 750px) {
    .control-row-1 {
        flex-direction: column;
    }

    #state-select-outer, #select-metric-outer {
        width: 100%;
    }
}

@media only screen and (max-width: 750px), (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .section-title, #map-title {
        font-size: 14px;
    }

    .banner {
        padding: 0rem 2rem;
    }

    .banner h6 {
        font-size: 1.5rem;
    }

    .banner img {
        height: 1.5rem;
    }

    #upper-container {
        margin: 1rem;
    }

    #upper-left > div > label {
        font-weight: normal;
        margin-bottom: 2px;
    }

    #upper-left, #geo-map-outer {
        width: 100%;
        margin-left: 0;
    }

    /*
  Hide y axis labels for mobile device
*/
    #procedure-plot {
    margin-left: -80px;
    /*margin: -300px 0px -200px -80px;*/
}

}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #upper-left, #geo-map-outer {
        padding: 1rem 4rem;
    }

    #state-select-outer, #select-metric-outer {
        width: 45%;
    }

}
