@page { sAize: auto;  margin: 0mm; }

@media print {
    body * {
        visibility: hidden;
    }

    html, body {
        page-break-after: avoid !important;
        page-break-before: avoid !important;
    }

    .page, .page *, #las-curves {
        visibility: visible;
        -webkit-print-color-adjust: exact;
    }

    .section {
        margin: 0px !important;
        page-break-before: always;
        page-break-after: auto;
    }

    .page {
        margin: 1.25in;
        margin-left: 0.25in;
        border: solid 1px rgba(0,0,0,0)
    }

    .section-title {
        position: relative;
        top: -10px;
        background-color: #0057a5 !important;
        -webkit-print-color-adjust: exact;
        visibility: visible;
        font-size: 28pt !important;
        font-weight: 300 !important;
        text-align: center;
        margin-top: 0px !important;
        padding: 10px !important;
        width: 300px !important;
        margin-left: 50px !important;
    }

    #las-curves {
        page-break-after: avoid !important;
        margin-bottom: -100px !important;
        margin-left: 20px;
    }

    #frontpage {
        background-color: rgba(0,0,0,0) !important;
        margin: 0px;
        page-break-after: always;
    }

    #frontpage h1 {
	    color: white !important;
    }

    #frontpage, #frontpage * {
        page-break-after: always;
        visibility: visible;
        -webkit-print-color-adjust: exact;
    }

    #dash-logo {
        display: none;
    }

    #las-logo {
        position: absolute !important;
        display: block !important;
        top: 50% !important;
        padding: 0px !important;
        margin: 0px !important;
        right: calc(100% - 424px) !important;
        height: 182px !important;
        clip-path: none !important;
    }

    #las-header {
        display: auto;
        width: auto;
    }

    #las-header-text {
        position: absolute !important;
        top: 50% !important;
        right: 0px;
        margin-top: 0px !important;
        padding: 55px;
        background-color: #0057a5;
    }

    #las-header-text h1 {
        font-size: 35pt !important;
        font-weight: bolder;
        color: white !important;
    }

    #las-file-info {
        font-size: 12pt;
        margin-left: -2px !important;
        background-color: #0057a5 !important;
        color: white !important;
        padding: 10px;
        font-weight: 100 !important;
    }

    #las-curves {
        z-index: 0;
        position: relative;
        top: -125px;
        left: -125px;
    }

    #las-table {
	    display: none;
    }

    #las-table-print {
        margin-top: -150px;
        display: block !important;
        page-break-after: always !important;
    }

    #las-table-print table {
	    border-collapse: collapse;
    }

    #las-table-print th, #las-table-print td {
        border: 1px solid lightgrey;
        font-weight: lighter;
        padding: 4px;
        font-size: 10pt;
        text-align: center;
    }

    .page.tablepage {
        page-break-after: always;
        position: relative;
        left: -100px;
    }

    .tablepage {
        margin-top: 100px;
        page-break-after: always;
        page-break-inside: avoid;
    }

    #las-table-print table > tr > td:nth-child(2), #las-table-print table > tr > td:nth-child(4) {
	    text-align: left;
    }
}

body {
    font-family: aktiv-grotesk-thin,sans-serif;
    margin-left: 0px;
    padding: 50px;
    background-color: #F9F9F9;
}

.section {
    margin: 50px;
    padding: 10px;
    min-width: 850px;
}

.section-title {
    background-color: #0157A0;
    color: white;
    width: calc(100% - 80px);
    display: inline-block;
    padding: 10px;
    padding-left: 70px;
    font-size: 20pt;
    font-weight: 100 !important;
    z-index: 100 !important;
}

.page {
    padding: 50px;
    background-color: white;
}

#frontpage {
    margin-top: -30px;
    padding-bottom: 0px;
    background-color: #F9F9F9;
}

#frontpage h1 {
    color: #0157A0;
    text-transform: lowercase;
    font-variant: all-small-caps;
    font-size: 50pt;
    display: inline;
}

#frontpage {
    margin-left: 50px;
    padding: 10px;
}

#dash-logo {
    height: 55px;
    position: absolute;
    right: 0;
    margin-top: 40px;
    padding-right: 120px;
}

#las-logo {
    height: 90px;
    position: relative;
    top: 40px;
    background-color: white;
    margin-right: 20px;
    display: inline-block;
}

#las-header {
    display: inline-flex;
    width: 100%;
}

#las-header-text {
    position: relative;
    margin-top: 24px;
}

#las-header-text h1 {
    position: relative;
}

#las-file-info {
    display: block;
    padding: 0px 3px;
    color: black;
    font-weight: 100 !important;
}

#controls {
    position: fixed;
    padding: 10px;
    padding-bottom: 15px;
    top: 0px;
    right: 10px;
    z-index: 100;
    text-align: center;
    font-size: 20pt;
    text-transform: lowercase;
    font-variant: all-small-caps;
}
#graph-size {
    transform: scale(0.9);
    padding-top: 5px;
}

#las-print {
    font-family: aktiv-grotesk-thin,sans-serif;
    font-variant: all-small-caps;
    text-transform: lowercase;
    font-size: 14pt;
    background-color: rgba(0,0,0,0);
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0157A0;
    margin-top:10px;
    border: solid 1px #0157A0;
    border-radius: 5px;
    transition-duration: 500ms;
}

#las-print:hover {
    color: #232323;
    border-color: #232323;
}

.col-name, .col-entry {
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px;
    margin: 0px;
}

.col-name {
    font-weight: bold;
    font-size: 14pt;
}

.col-entry {
    font-size: 12pt;
}

#las-table {
    max-height: 600px;
    overflow-y: auto;
}

#las-table table, #las-table-print table {
    font-family: aktiv-grotesk-thin,sans-serif;
}

#las-table-print {
    display: none;
}

#las-table {
    padding: 10px !important;
    text-align: center !important;
}

#las-table span {
    display: inline-block;
}

#las-table span.sort {
    font-size: 20pt;
    display: inline-block;
    margin-right: 5px;
}

#las-table th.dash-header, #las-table th.dash-filter, #las-table th.dash-delete-header, #las-table tr:nth-child(2) > th:nth-child(1) {
    position: sticky !important;
    left: 0px;
    background-color: white !important;
    text-transform: lowercase;
    font-variant: all-small-caps;
    font-color: #232323;
    font-size: 20pt;
    padding-bottom: 20px;
    box-shadow: none !important;
}

#las-table th.dash-header, #las-table th.dash-delete-header {
    top: -10px;
}

#las-table th.dash-header {
    color: #c3c3c3;
    font-stretch: condensed;
}

#las-table th.dash-header > div {
    margin: auto;
    display: inline-block;
}

#las-curves .svg-container {
    margin: auto !important;
}

#las-curves {
    margin-bottom: 50px;
}

#las-table ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #191A1C;
}

#las-table ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #E4E4E4;
    border-radius:15px;
    padding-right:5px;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #fafafa;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: #fafafa;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    color: #fafafa;
}

:-ms-input-placeholder {
    text-align: center;
    color: #fafafa;
}

#las-table th.dash-filter, #las-table tr:nth-child(2) > th:nth-child(1) {
    top: 50px;
}

#las-table th.dash-filter input {
    border-bottom: solid 1px #d3d3d3;
    font-size: 10pt;
    text-align: center;
}

#las-table .dash-spreadsheet-container .dash-spreadsheet-inner td.dash-cell.column-0 {
    width:0px !important;
}

#las-table .dash-spreadsheet-container .dash-spreadsheet-inner td.dash-cell.column-1 .dash-cell-value {
    width: 100 !important;
}

#las-table td.dash-delete-cell {
    width: 20px !important;
    background-color: white;
    text-align: center;
}

#las-table tr td {
    box-shadow: inset 0px 0px 0px 0px #d3d3d3 !important;
}