appdirs==1.4.4
Brotli==1.0.9
click==7.1.2
dash==1.19.0
dash-bootstrap-components==0.12.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dash-vtk==0.0.6
Flask==1.1.2
Flask-Compress==1.9.0
future==0.18.2
gunicorn==20.1.0
imageio==2.9.0
importlib-metadata==3.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
meshio==4.3.11
numpy==1.20.2
Pillow==8.1.2
plotly==4.14.3
pyvista==0.29.0
retrying==1.3.3
scooby==0.5.6
six==1.15.0
transforms3d==0.3.1
typing-extensions==3.7.4.3
vtk==9.0.1
Werkzeug==1.0.1
zipp==3.4.1
