cython>=0.19
dash>=1.6.1
dash_bio-0.6.2-py3-none-any.whl
dash-bio-utils==0.0.6
dash-daq==0.2.2
gunicorn==19.9.0
jsonschema==2.6.0
matplotlib==3.0.2
numpy>=1.16.5
pandas>=0.24.2
plotly>=3.5.0
PubChemPy==1.0.4
requests==2.21.0
scikit-learn==0.20.2
scipy>=1.1.0