certifi
chardet
click
dash
dash-core-components
dash-html-components
dash-renderer
decorator
Flask
Flask-Compress
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
plotly
pytz
requests
retrying
six
traitlets
urllib3
Werkzeug
numpy
pandas
simple-salesforce
dash-table-experiments
python-dotenv
