/* Style sheet for Dash-R Actuarial Dashboard*/

body {
  background: 	#FFEBCD !important;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 600;
  font-family: lol;
}

@font-face {
  font-family: lol;
  src: url("/assets/OpenSans-Light.ttf");
}

.header {
  padding: 15px 35px;
}

.header_img {
  float: left;
}

.header_title_container {
  float: right;
}

.header_title {
  font-family: lol;
  color: SteelBlue   !important;
  text-align: left;
  margin: 10px !important;
}

.logo {
  height: 50px;
  width: auto;
  float: left;
}

.background {
  background-color: 'black' !important;
  padding: 0px 0px;
}

.container {
  border-radius: 5px;
  background-color: #F0F8FF;
  margin: 10px;
  padding: 15px;
  position: relative;
  }

/* ---Different Screen Sizes--- */

@media only screen and (max-width: 768px) {
  .columns {
    float: none;
    width: 90%;
  }

  .three.columns {
    margin: auto;
    width: 75%;
  }

  .six.columns {
    margin: 10% 5%;
    width: auto;
  }

  .nine.columns {
    float: left;
    margin: 0;
    width: 100%;
  }

  background {
    width: 100%;
  }

  #app-title {
    text-align: center;
  }

  #plotly-image {
    height: 40px;
  }

  .header_img {
    float: left;
    margin: 0;
  }
}
@media only screen and (max-width: 550px) {
  #plotly-image {
    height: 35px;
    width: auto;
  }
}
