certifi==2017.4.17
chardet==3.0.4
click==6.7
dash-core-components==0.18.1
dash-html-components==0.8.0
dash-renderer==0.11.3
dash==0.21.0
decorator==4.0.11
enum34==1.1.6
flask-cors
Flask==0.12.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
functools32==3.2.3.post2
gunicorn==19.7.1
idna==2.5
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
nbformat==4.3.0
numpy==1.13.0
pandas==0.20.2
plotly==2.4.1
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
six==1.10.0
traitlets==4.3.2
urllib3==1.21.1
Werkzeug==0.12.2
wheel==0.26.0
