/* make the graph still visible while the loading spinner is displayed */
*[data-dash-is-loading="true"]{
    visibility: visible;
}

.app-background {
    background-color: lightgrey;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#right-column {
    position: absolute;
    right: 3px;
}

#left-column {
    position: absolute;
    left: 8px;
}

#banner {
    margin-bottom: 18px;
    position: relative;
}

#logo {
    position: absolute;
    top: 18%;
    right: 10px;
}

.tooltip {}

.tooltiptext {
    visibility: hidden;
    text-align: left;
    border-radius: 5px;
    position: absolute;
    z-index: 1; 
    top: 100%;
    left: 0;
    font-size: small;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#description {
    margin-bottom: 20px;
}
