#vp-page-content {
    background-color: #F1F9FA !important;
    color: #5B5B5B !important;
}

#vp-page-content ::-webkit-scrollbar {
    background-color: #F1F9FA !important;
}
#vp-page-content ::-webkit-scrollbar-thumb {
    background-color: #19D3F3 !important;
}

#vp-control-tabs .tab--selected {
    border-color: #19D3F3 !important;
    color: #19D3F3 !important;
    border-left: none;
    border-right: none;
}
.control-tabs {
    background-color: #FFFFFF !important;
}
.app-controls-block {
    background-color: #FFFFFF !important;
}
#vp-graph {
    height: 550px;
    width: 100%;
}
#vp-graph-div {
    display: inline-block !important;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
#vp-page-content .rc-slider-track {
    background-color: #19D3F3 !important;
}
#vp-page-content .rc-slider-handle, #vp-page-content .rc-slider-dot-active {
    border-color: #19D3F3 !important;
}
#vp-bound-val, #vp-genomic-line-val {
    display: inline-block;
    float: right;
}
#vp-page-content .app-controls-name {
    width: 140px;
}
#vp-page-content .rc-slider, #vp-dataset-dropdown {
    width: 140px !important;
    display: inline-block;
}
.vp-test-util-div {
    display: none;
}

#vp-page-content .chrome-picker, #vp-color-picker {
    border: none !important;
}
#vp-color-picker {
    margin-top: 20px;
    display: inline-block;
}
#vp-num-points-display {
    display: inline-block;
    float: right;
    margin-top: 35px;
}
.vp-event-data-display {
    display: inline-block;
    width: 160px;
    vertical-align: top;
    margin-top: 5px;
}
#vp-event-data {
    margin-bottom: 20px;
}
