/* -- style banner -- */

@font-face {
    font-family: TexGyreHerosBold;
    src: url('fonts/texgyreheros-bold.otf')
}

html {
    background: white;
}

#main {
    display: inline-block;
    border-radius: 5px;
    background: darkgrey;
}

.button {
    background: lightgrey;
}

#graph {
    background: lightgrey;
}

#logo {
    vertical-align: middle;
    width: 100%;
    float: left;
}

#title {
    color: white;
    /*
    width: 500px;
    border-radius: 5px;
    border 0px;
    background: white;
    */
}

#table-container {
    width: 100%;
    display: table;
    content: "";
    clear: both;
}

/* set the margins of row elements to zero to
override the settings in the dash bootstrap stylesheet
 */
.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Set image width in the modal */
#readme-md img {
    max-width: 100%;
}
    
#timestamp-table {
    width:20%;
    float:left;
    font-size: small;
}

#annotations-table {
    width:80%;
    float:left;
    margin: 0;
    font-size: small;
}

#app-container {
    margin: 10px;
    padding: 5px;
    border 0px;
    border-radius: 5px;
    float: left;
    background: white;
}

#sidebar {
    margin: 10px;
    padding: 5px;
    float: left;
    border 0px;
    border-radius: 5px;
    background: white;
}

/*
#sidebar-contents {
    position: absolute;
    bottom: 0px;
}
*/

#previous {
    width: 50%;
}

#next {
    width: 50%;
}

#download-button { 
    width: 100%;
}

#firsth2 {
    .padding: 0;
    .margin: 0;
}
