$color-main: #008ede;

// Chart color
$chart_unspecified: #e87272;
$chart_Tug: #1a6d9b;
$chart_Tanker: #79bd00;
$chart_Plasure: #dbb657;
$chart_passenger: #12a5b0;
$chart_fishing: #11498a;
$chart_cargo: #3a9971;

// Dark theme
$theme_dark-background: #2a2b30;
$theme_dark-accent: #26272C;
$theme_dark-Gray-1: #35363E;
$theme_dark-Gray-2: #ababab;
$theme_dark-Gray-3: #626262;
$theme_dark-white: #ffffff;

$theme_dark-page: #1d1e21;

// Light theme
$theme_light-background: #ffffff;
$theme_light-accent: #f4f4f4;
$theme_light-Gray-1: #d4d4d4;
$theme_light-Gray-2: #6c6c6c;
$theme_light-Gray-3: #AFAFAF;
$theme_light-black: #000000;

$theme_light-page: #e4e4e4;



// Navigation
$header-height: 70px;
$navi-padding: 20px;

// Filters - controls
$cotrol-min-height: 60px;

$padding-desktop: 13px;


// RWD dimensions
$device-width-1: 980px;
$device-width-2: 800px;
$device-width-3: 700px;

