version: 2.0

jobs:
  test_black:
    docker:
      - image: circleci/python:3.6-stretch-node-browsers
    working_directory: ~/dash-sample-apps

    steps:
      - checkout
      - run:
          name: install black
          command: |
            sudo pip install black
      - run:
          name: run black
          command: |
            black . --check
  deploy_to_playground:
    docker:
      - image: circleci/python:3.6-stretch
    working_directory: ~/dash-sample-apps
    steps:
      - checkout
      - run:
          name: Add plotly remote
          command: git remote add playground https://dash-playground.plotly.host/GIT/$CIRCLE_BRANCH
      - run:
          name: Create helper-script
          command: printf '#!/bin/bash\necho username=$PLAYGROUND_DEPLOY_USERNAME\necho password=$PLAYGROUND_DEPLOY_PASSWORD' >> /home/circleci/helper-script.sh
      - run:
          name: Set up git config
          command: git config credential.helper "/bin/bash /home/circleci/helper-script.sh"
      - run:
          name: Deploy
          command: |
            APPS_MODIFIED=$(git diff origin/master origin/$CIRCLE_BRANCH --dirstat=files,1 apps/ | awk '{ split($2,a,"/"); if (length(a[2]) != 0) { print a[2]} }')
            if [ -z "$APPS_MODIFIED" ]
            then
                  echo "No app change detected. Skipping the deploy.."
                  exit 0
            fi

            for APP in $APPS_MODIFIED
            do
              if [ "$APP" == "$CIRCLE_BRANCH" ] 
              then
                git push playground $CIRCLE_BRANCH:master --force
                exit 0
              else
                echo "appname: $APP is not same as the branchname: $CIRCLE_BRANCH. Not deploying..."
              fi
            done
            echo "Deploy failed because of a branchname/appname mismatch. Exiting..."
            exit 1
  deploy_to_gallery:
    docker:
      - image: circleci/python:3.6-stretch
    working_directory: ~/dash-sample-apps
    steps:
      - checkout
      - run:
          name: Add plotly remote
          command: git remote add gallery https://dash-gallery.plotly.host/GIT/$CIRCLE_BRANCH
      - run:
          name: Create helper-script
          command: printf '#!/bin/bash\necho username=$GALLERY_DEPLOY_USERNAME\necho password=$GALLERY_DEPLOY_PASSWORD' >> /home/circleci/helper-script.sh
      - run:
          name: Set up git config
          command: git config credential.helper "/bin/bash /home/circleci/helper-script.sh"
      - run:
          name: Deploy
          command: |
            APPS_MODIFIED=$(git diff origin/production origin/master --dirstat=files,1 | awk '{ $2 ~ /apps/; split($2,a,"/"); if (length(a[2]) != 0) { print a[2]} }')
            for APP in $APPS_MODIFIED
            do
              git remote add $APP https://dash-gallery.plotly.host/GIT/$APP
              git push $APP master
            done
      - run:
          name: Push to production
          command: |
              git push git@github.com:plotly/dash-sample-apps master:production

workflows:
  version: 2
  test-and-deploy:
    jobs:
      - test_black
      - deploy_to_playground:
          requires:
            - test_black
          filters:
            branches:
              ignore:
              - production
              - master
      - deploy_to_gallery:
          requires:
            - test_black
          filters:
            branches:
              only:
              - master