.container.scalable {
    width: 100% !important;
    max-width: none;
    padding: 0px;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: #f5f6f7;
    color: #515151;
    font-size: 16px;
    margin: 0px;
}

.banner {
    height: 5rem;
    margin-bottom: 1rem;
    padding: 0rem 5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfcfc;
}

.banner h6 {
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.banner Img {
    position: relative;
    height: 3rem;
    width: auto;
}

.app_main_content {
    padding: 2rem 2rem 4rem 2rem;
}

#dropdown-select-outer {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-bottom: 20px;
}

.selector {
    width: 30%;
    margin-right: 20px;
}

#dropdown-select-outer > div > p {
    color: #999999;
}

#top-row, #middle-row, #bottom-row {
    height: 37rem;
}

#choropleth, #flights_hm, #flights_time_series, #value_by_city_graph, #count_by_day_graph, #flight_info_table_outer {
    height: 35rem;
}

.dash-spreadsheet-container .dash-spreadsheet-inner th, tr, td {
    text-align: center !important;
    font-family: "Open Sans", sans-serif !important;
    border: none !important;
    font-size: 11px;
}

#flight_info_table_outer > div {
    height: 100% !important;
}

#flights-table {
    height: 100%;
    overflow-y: scroll;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  */

@media only screen and (max-width: 750px) {
    #dropdown-select-outer {
        flex-direction: column;
    }

    .banner {
        padding: 0rem 2rem;
    }

    .selector {
        width: 100%;
    }

    #date-picker-outer {
        margin-top: 10px;
    }

    .column, .columns {
        margin: 10px 0px;
    }


}

/*ipad*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #date-picker-outer {
        width: 50%;
    }
}

.CalendarMonth_table td {
  padding: unset;  
}
