.container.scalable {
    width: 100% !important;
    max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
    display: none;
}

body {
    background-color: #f5f6f7;
    color: #515151;
    font-size: 14px;
}

.banner {
    height: 5rem;
    margin-bottom: 1rem;
    padding: 0rem 5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfcfc;
}

.banner h6 {
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.banner Img {
    position: relative;
    height: 3rem;
    width: auto;
}

.app_main_content {
    padding: 2rem 4rem;
}

#dropdown-select-outer {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-bottom: 20px;
}

.selector {
    width: 30%;
    margin-right: 20px;
}

#dropdown-select-outer > div > p {
    color: #999999;
}

#top-row, #middle-row, #bottom-row {
    height: 37rem;
}

#choropleth, #flights_hm, #flights_time_series, #value_by_city_graph {
    height: 35rem;
}

/*#bottom-row {*/
    /*height: 450px;*/
    /*overflow-y: scroll;*/
/*}*/

#flight_info_table_outer > div {
    height: 100% !important;
}

/*#map_geo_outer, #flights_by_day_hm_outer, #time-series-outer, #Count_by_days_outer, #Flights-by-city-outer, #flight_info_table_outer {*/
    /*height: 100%;*/
/*}*/

#flights-table {
    height: 100%;
    overflow-y: scroll;
}

