.container.scalable {
    width: 95%;
    max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
    display: none;
}

body {
    background-color: rgb(245, 245, 245);
    padding-top: 60px;
}

.banner {
    height: 50px !important;
    position:absolute;
    width: 100%;
    top:0;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    z-index:1003 !important;
}

.banner h6 {
    margin: auto;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.banner Img {
    margin-right:20px;
    height: 40px;
}


#top-row {
    margin-top: 60px;
}

#top-row, #bottom-row  {
    margin: 20px 10px;
}

#bottom-row {
    height: 450px;
    overflow-y: scroll;
}

#flight_info_table_outer > div {
    height: 100% !important;
}

#map_geo_outer, #flights_by_day_hm_outer, #time-series-outer, #Count_by_days_outer, #Flights-by-city-outer, #flight_info_table_outer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    height: 100%;
}

#flights-table {
    height: 100%;
    overflow-y: scroll;
}

