body {
    background-color: #FFFFFF !important;
}

body ::-webkit-scrollbar {
    background-color: #FFFFFF !important;
}
body ::-webkit-scrollbar-thumb {
    background-color: #7cd3f7 !important;
}

#circos-control-tabs {
    width: 500px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #262B3D !important;
    font-size: 10pt;
    float: left;
    overflow-y: scroll;

}

.circos-tab {
    height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}
.circos-controls {
    width: 100%;
    overflow: auto;
}
#circos-control-tabs .tab {
    background-color: #262B3D !important;
    padding: 15px;
    border-color: #557 !important;
}

#circos-control-tabs .tab--selected {
    border-top: solid 2px #7CD3F7 !important;
    color: #7CD3F7 !important;
}

#circos-hold {
    display: inline-block !important;
    padding: 40px;
    margin-left: 50px;
}

#circos-body .rc-slider-rail {
    background-color: #FFFFFF;
}
#circos-body .rc-slider-track {
    background-color: #7CD3F7;
}
#circos-body .rc-slider-handle {
    border-color: #7CD3F7;
    background-color: #FFFFFF;
}
#circos-body .rc-slider {
    margin-right: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 5px);
}
#circos-tabs-orig {
    display: none;
}

#circos-tabs-orig-parent {
    display: none;
}
#circos-control-tabs .Select-value-icon {
    background-color: #232323;
}

#circos-control-tabs .Select-control, #circos-control-tabs .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    width: 140px !important;
}
#circos-control-tabs span.Select-value-label {
    color: #E2EFFA !important;
}
#circos-control-tabs .Select-input {
    padding: 0px;
}

#circos-size, #circos-graph-type, #circos-view-dataset, #circos-preloaded-uploaded, #circos-view-dataset-custom {
    width: 140px;
    position: relative;
    display: inline-block;
    float: right;
    color: #E2EFFA;

}

.circos-option-name {
    font-size: 13pt;
    width: 160px;
    margin-bottom: 25px;
    margin-top: 5px;
    font-weight: 100 !important;
    display: inline-block;
    vertical-align: top;
}

#circos-control-tabs .tab-content {
    padding: 30px;
}


#circos-body #data-table .dash-spreadsheet * {
    box-shadow: none !important;
}
#circos-body tr, #circos-body th , #circos-body td{
    background-color: #FFFFFF;
    border-color: #222830 !important;
    padding: 5px;
    height: 40px;
    box-shadow: none !important;
}
#circos-body th.dash-filter input {
    color: #E2EFFA;
}
#upload-data {
    border-color: #7CD3F7 !important;
}
#circos-body .Select-menu-outer {
    z-index: 100;
}
#circos-body #data-table .row.row-0 {
    z-index: 1;
}
#circos-body button {
    color: #E2EFFA;
    margin: 10px;
}
#circos-body button.previous-page, #circos-body button.next-page {
    font-size: 0px;
    border: none;
    padding: 0px;
    width: 50%;
    text-align: center;
    transition-duration: 300ms;
}

#circos-body button.previous-page:hover, #circos-body button.next-page:hover {
    color: #303030;
}
#circos-body button.next-page:after {
    content:">";
    font-size: 20px;
}
#circos-body button.previous-page:after {
    content: "<";
   font-size: 20px;
}
#circos-body h5 {
    margin-bottom: 15px;
}
#circos-body #chords-text {
    font-size: 9pt !important;
    margin-bottom: 20px;
}
#circos-body h3 {
    text-align: center;
}
#circos-body .control-download:hover {
    color: #7CD3F7 !important;
}


.control-upload {
    border-color: #34AD99 !important;
    display: block;
    border: dotted 1px #119DFF;           /* Change in individual app stylesheet */
    border-radius: 5px;
    padding: 20px;
    font-size: 9pt;
    text-align: center;
    margin: 13px;
}
