* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #1F2132;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
}