body {
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  background-color: #FAFAFA;
	  font-size: 1.1rem;
	  line-height: 1.3;
 }
 * {
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
 }
 .page {
	  position: relative;
	  width: 210mm;
	  min-height: 300mm;
	  padding: 0mm;
	  margin: 10mm auto;
	  border: 1px #D3D3D3 solid;
	  border-radius: 5px;
	  background: white;
	  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
 }

 .pagetwo {
	  position: relative;
	  width: 210mm;
	  min-height: 240mm;
	  padding: 0mm;
	  margin: 10mm auto;
	  border: 1px #D3D3D3 solid;
	  border-radius: 5px;
	  background: white;
	  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
 }

 .subpageone {
	  padding: 1cm;
	  border: 0px #ccc solid;
	  height: 215mm;
	  outline: 0cm whitesmoke solid;
 }

 .subpagetwo {
	  padding: 1cm;
	  border: 0px #ccc solid;
	  height: 315mm;
	  outline: 0cm whitesmoke solid;
 }

 .subpagefour {
	  padding: 1cm;
	  border: 0px #ccc solid;
	  height: 250mm;
	  outline: 0cm whitesmoke solid;
 }

 .subpagefive {
	  padding: 1cm;
	  border: 0px #ccc solid;
	  height: 100mm;
	  outline: 0cm whitesmoke solid;
 }


 .subpagefull {
	  padding: 1cm;
	  border: 0px #ccc solid;
	  height: 920mm;
	  outline: 0cm whitesmoke solid;
 }

 @page {
	  size: A4;
	  margin: 0;
 }
 @media print {
	  html, body {
			width: 210mm;
			height: 297mm;        
	  }
	  .page {
			margin: 0;
			border: initial;
			border-radius: initial;
			width: initial;
			min-height: initial;
			box-shadow: initial;
			background: initial;
			page-break-after: always;
	  }   
    .no-print, .no-print * {
        display: none !important;
    }	 
 }

p{ margin-bottom: 1rem }

.iframe{ border: none; }

.gs-header{ color: white !important; -webkit-print-color-adjust: exact; }

.gs-text-header{ background: #2C3859 !important; -webkit-print-color-adjust: exact; }

.gs-table-header{ background: #7F91AC !important; -webkit-print-color-adjust: exact; }

.gs-accent-header{ background: #65201F !important; -webkit-print-color-adjust: exact; }

div.padded{ padding: 10px; }

h6.padded, p.padded{ 
	padding: 2px 5px; 
	margin-top: 10px;
	margin-bottom: 2px;
}

.blue-text{ color: #8496B8; }

table{ width: 100% }

td{ padding: 2px 0px }

tr:nth-child(even) { background-color: #F0F0F0; }
tr:nth-child(odd) { background-color: #FAFAFA; }

table.reversed tr:nth-child(odd) { background-color: #F0F0F0; }
table.reversed tr:nth-child(even) { background-color: #F0F0F0; }

table{ 
	font-size: 1.00rem; 
	border-spacing: 0;
   border-collapse: collapse;
}

td, th {
  border: 0px solid #ddd;
  padding: 8px;
}

table.tiny-header tr:first-child{
	font-size: 8px;
}

.columns{ margin-left: 0 !important; }

.row > .columns:not(:first-child){
	padding-left: 20px;
}



h1, h5, h6{ margin: 0 }

h6{ font-size: 1.425rem }


 .product{
	  position: relative;
	  width: 90%;
	  height: 15%;
	  padding: 5mm;
	  margin: 10mm auto;
	  /* border: 1px #D3D3D3 solid; */
	  border-radius: 1px;
	  background: #98151B;
          color: #ffffff;
 }

 .maintitle{
	  position: relative;
          color: #696969;
	  font-size: 40px !important;
	  left:0
	  width: 20%;
	  height: 20%;
	  margin: 0mm;
	  border-left: 20px solid #98151B;
	  background: #ffffff;
	  padding-top: 1px;
	  padding-bottom: 1px;
	  padding-left: 30px;
	  padding-right: 200px;

 }

 .subtitle{
	  position: relative;
          color: #696969;
	  left:0
	  width: 20%;
	  height: 20%;
	  margin: 0mm;
	  border-left: 8px solid #98151B;
	  background: #ffffff;
	  padding-top: 1px;
	  padding-bottom: 1px;
	  padding-left: 30px;
	  padding-right: 60px;

 }

 .redbutton{
	text-transform: lowercase;
	background: #98151B;
	position: relative;
	width: 15%;
	height: 10%;
	right: 0px;
	top:0px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color : white;
	border-radius: 1px;
}


 .logo{
	position: absolute;
	right: 20px;
	z-index: 2;
	top:60px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}


a:link {
  color: #696969;
text-decoration: none;
}

/* visited link */
a:visited {
  color: #696969;
text-decoration: none;
}

/* mouse over link */
a:hover {
  color: lightgrey;
text-decoration: underline;
font-size:100%;
}

/* selected link */
a:active {
  color: lightgrey;
text-decoration: underline;
}


 .greyline{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 11px;
}

.tab {
	border-style: solid;
    border-color: rgb(0,0,0, 0.2);
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.rowrow {
    margin:auto;
    text-align: center;
    width: 97%;	
}

.tablast {
	border-style: solid;
    border-color: rgb(0,0,0, 0.2);
    border-bottom-style: none;
    border-top-style: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.learnbutton {
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;

	position: absolute;
	right: 20px;
	z-index: 2;
	top:150px;
	padding-left: 15px;
	padding-right: 15px;
	color: grey;
	text-transform: capitalize;

	span {
		position: absolute;
		margin: auto 0;
		letter-spacing: 3px;

	}

	&:hover {
		.o1{
			fill: rgba(#CC8110, 0.3);
		}
		
		.o2 {
			stroke-dashoffset: -420;
		}
	}
}
