@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

	@font-face {
font-family: "HelveticaNeue";
src: url("HelveticaNeue.ttf") format('opentype');
}

	@font-face {
font-family: "SabonRoman";
src: url("SabonRoman.ttf") format('opentype');
}



body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-size: 1.1rem;
    line-height: 1.3;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: SabonRoman, serif;
    margin: 0;
}
p, a{
    font-family: HelveticaNeue, sans-serif;
}

.page {
    position: relative;
    width: 210mm;
    min-height: 297mm;
    padding: 0mm;
    margin: 10mm auto;
    border-radius: 5px;
    background: white;
}
.subpage {
    border: 5px #ccc solid;
    height: 257mm;
    outline: 2cm whitesmoke solid;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.row{
    padding-left: 1cm;
    padding-right: 1cm;
}

.logo{
    width: 175px;
    margin-left: -5px;
}
.header-left{
    border-right: 1px solid #becdd6;
}
.header-left h1{
    color: #506784;
    font-size: 28px;
}
.header-left h2{
    color: #a2b1c6;
    font-size: 24px;    
    margin: 0;
}
.header-right{
    padding-left: 20px;
}
.header-right h1{
    margin: 0;
}
.header-right h1 span{
    font-size: 45px;    
}
.header-right h6{
    color: #a2b1c6;
    font-size: 16px;
    margin: 0;
}
.light-blue{color: #B4EFF7;}
.blue{color: #129EFF;}

.spec-row{
    content: "";
    display: table;
    clear: both;
}
.spec-row .six.columns{
    width: 50%;
    height: 200px;
}

.spec-row .five.columns{
    width: 41.66%;
    height: 150px;
}

.spec-row .seven.columns{
    width: 58.34%;
    height: 150px;
}

.div-investor-profile{
    background-color: #F7FBFE;
    color: #506784;
    padding: 16px 16px 24px 36px;;
}
.div-fund-designed-for{
    background-color: #e9f1f4;
    color: #506784;
    padding: 24px 24px 24px 24px;
}

.div-investor-profile h6, .div-fund-designed-for h4{
    color: #119dff;
    font-weight: 400;
    font-size: 14px;
}

.div-investor-profile p, .div-fund-designed-for p{
    font-size: 12px;
}



@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
          width: 210mm;
          height: 297mm;        
    }
    .page {
          margin: 0;
          border: initial;
          border-radius: initial;
          width: initial;
          min-height: initial;
          box-shadow: initial;
          background: initial;
          page-break-after: always;
    }   
  .no-print, .no-print * {
      display: none !important;
  }	 
}

p{ margin-bottom: 1rem }

.iframe{ border: none; }

.gs-header{ color: #506784 !important; -webkit-print-color-adjust: exact; }

h6.title-pg2-right{ margin-left: 7rem; }
h6.title-perf-ind, p.title-perf-ind, strong.title-perf-ind{ margin-left: 3rem; }

div.padded{ padding: 10px; }

h6.padded, p.padded{ 
  padding: 2px 5px; 
  margin-top: 10px;
  margin-bottom: 2px;
}

.blue-text{ color: #8496B8; }

table{ width: 100% }

td{ padding: 2px 0px }

tr:nth-child(even) { background-color: #f7fafc; }
tr:nth-child(odd) { background-color: #eff6f9; }

table.reversed tr:nth-child(odd) { background-color: #D7DBE1; }
table.reversed tr:nth-child(even) { background-color: white; }

table{
  font-size: 1rem;  
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.columns{ margin-left: 0 !important; }

table.tiny-table {
  font-size: 0.95rem;
}



td, th { border: 0 }
