datashader==0.8.0
dash-core-components
dash-html-components
dash-canvas>=0.0.8
dash-table
plotly
gunicorn==20.0.4
scikit-image
scikit-learn
pandas==1.1.4
numpy==1.19.4
Pillow
dash-bootstrap-components==0.10.7
llvmlite==0.31.0
numba==0.47.0
datashader==0.8.0
