*.zip
*.iml
*.xml
mnist2500_labels.txt
mnist2500_X.txt
notebooks/.ipynb_checkpoints
mnist_data.csv
mnist_label.csv
input_2000.csv
input_750.csv
input_data.csv
data/cifar_3000*
*.pyc
.vscode/
env
.DS_Store
