body {
    font-family: "Open Sans", sans-serif;
    background-color: #F9FAFB;
}

h3 {
    letter-spacing: 0.23rem;
}

p {
    color: #555555;
    line-height: 1.5;
    letter-spacing: .25px;
    word-wrap: break-word;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.title {
    font-family: serif;
}

.bg-white {
    background-color: #fff;
}

.p-0 {
    padding: 0px;
}

.app__container {
    margin: 0% 3% 3% 3%;
}

.app__banner {
    display: flex;
    justify-content: flex-start;
    padding: 30px 30px 0px 30px;
}

.app__banner img {
    height: 80px;
    width: auto;
}

.app__header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.app__dropdown {
    padding: 15px;
    display: flex;
    justify-content: center;
}

#chem_dropdown {
    width: 500px;
}

.app__content {
    margin-top: 20px;
    padding: 0px;
}

#chem_name {
    font-size: 1.2em;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.chem__img__container {
    display: flex;
    justify-content: center;
}

.radio__labels {
    display: inline;
    padding-right: 10px;
}

.radio__input {
    margin-right: 5px;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 15px;
    border-radius: 0.75rem;
}

.table__container {
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    margin-top: 25px;
    border-radius: 0.75rem;
    width: 100%;
}

.table__container td {
    text-align: center;
}

.table__container t {
    background: #F4F6F8;
}

.table__container tr:nth-child(even) {
    background: #DFE3E8;
}

.table__container tr:nth-child(odd) {
    background: #FFF;
}

.table__container img {
    height: 70%;
    width: auto;
}

.table__container a {
    padding: 10px 15px;
    background-color: #007ACE;
    color: #F9FAFB;
    text-decoration: none;
    border-radius: 0.35rem;
}

.table__container a:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 600px) {

    .app__header span {
        font-size: 12px;
    }

    .app__banner {
        justify-content: center;
    }

    .radio__group {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

    .container {
        width: 100%;
    }

    .chem__desc__container {
        text-align: center;
    }

    .chem__img {
        padding-top: 30px;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
    }

    table td {
        border: none;
        display: block;
        text-align: center;
    }

    table td:first-child {
        padding: 35px 15px 12px 15px;
    }

    table td:last-child {
        padding: 15px 15px 35px 15px;
    }
}