/* 
Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Fonts
- Main Layout
- Graph Control Objects
- Graph Layout
- Mobile Settings
*/


/* 
Fonts
––––––––––––––––––––––––––––––––––––––––––––––––––*/ 

	@font-face {
font-family: "Open Sans Semi Bold";
src: url("OpenSans-Semibold.ttf") format('opentype');
}

	@font-face {
font-family: "Open Sans Light";
src: url("OpenSans-Light.ttf") format('opentype');
}

/* 
Main Layout
––––––––––––––––––––––––––––––––––––––––––––––––––*/

	body {
background-color: #1E1E1E;
color: #d8d8d8;
margin: 0;
padding: 0;
}

	h1,
	h2,
	h3,
	h4,
	h5 {
font-family: "Open Sans Semi Bold";
letter-spacing: 2.1px;
font-size: 21px;
}

	p {
font-family: "Open Sans Light";
font-weight: 400;
font-size: 12px;
}

	a {
text-decoration: none;
}

	button {
background-color: #4abaff;
color: white;
display: block;
margin-right: auto;
}

	._dash-app-content {
overflow-x: hidden;
overflow-y: hidden;
position: static;
}

/* 
Graph Control Objects
––––––––––––––––––––––––––––––––––––––––––––––––––*/

	.div-user-controls {
padding: 12px;
}

	.logo {
height: 50px;
}

	.div-for-dropdown {
padding: 12px;
}

	.location-dropdown .Select-control, .Select-menu-outer, .Select-multi-value-wrapper{
background-color: #1e1e1e;
}

	.date-picker .SingleDate Picker, .Select-menu-outer, .Select-multi-value-wrapper{
background-color: #1e1e1e;
}

	#date {
background-color: #1e1e1e;
font-size: 12px;
color: #d8d8d8; 
font-family: "Open Sans Light";
}

	.DateInput.DateInput_1{
background: #1e1e1e;
width: 100%;
}

	.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
border: 0.0px solid #dbdbdb;
display: block;
}

	.SingleDatePicker_1 {
display: block;
}

	.hour-dropdown .Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control{
font-family: "Open Sans Light";
font-size: 12px;
background: #1e1e1e;
}

	.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
color: #d8d8d8;
}

	.source-obj {
position: fixed;
bottom: 0;
}

	._dash-undo-redo {
background-color: #333333 !important;
color: #4abaff !important;
opacity: 1 !important;
border-radius: 100% !important;
}

.SingleDatePicker_picker, .SingleDatePicker_picker_1, .SingleDatePicker_picker__directionLeft,
.SingleDatePicker_picker__directionLeft_2{
  filter:invert(100%);
}

/* 
Graph Layout 
––––––––––––––––––––––––––––––––––––––––––––––––––*/

	.div-for-charts{
display: flex;
flex-direction: column;
height: 100vh;
width: 100%;
}
	.histogram {
flex-grow: 1
}

	.map-graph {
flex-grow: 2
}

	.mapboxgl-canvas,
	.mapboxgl-map {
min-width: 100%;
}

/* For Mobile Phones and small screens 
––––––––––––––––––––––––––––––––––––––––––––––––––*/

	@media only screen and (max-width: 950px) {
	.three,
	.nine {
min-width: 100%;
}

	h1,
	h2,
	h3,
	p,
	a,
	div
	{
text-align: center;
}

	.div-for-charts {
text-align: center;
}

	.mapboxgl-canvas,
	.mapboxgl-map {
min-width: 100%;
}

	.Select-value{
text-align: left;
}

	.Select-control, .Select-input > input {
text-align: left;
}

	.logo{
margin-left: -17rem;
}

	.source-obj {
position: relative;
}

	._dash-undo-redo {
display: none; 
}

}









