/* New style sheet for the refreshed demo app */

.title {
  font-family: "Times New Roman";
  color: #6c7182;
  float: left;
  margin-top: 25px;
  margin-left: 45px;
}

.background {
  background-color: #f2f3f4;
  padding: 0px 0px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #3266c1;
}
.rc-slider-dot-active {
  border-color: #3266c1;
}

.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #3266c1;
  background-color: #fff;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  border-color: #3266c1;
}

.Select-control {
  background-color: #f2f3f4;
  border-radius: 4px;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  overflow: hidden;
}

.js-plotly-plot .plotly .modebar-group {
  background-color: #f2f3f4 !important;
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Arimo", "Helvetica Light", "Helvetica Neue", Helvetica,
    "Helvetica 55 Roman";
  color: #6c7182;
}

#learn-more-button > div > div:nth-child(2) > div > p:nth-child(11) > img {
  width: 40%;
}
#graph-3d-plot-tsne > div > div > svg:nth-child(1) {
  background-color: #f2f3f4 !important;
}

#graph-3d-plot-tsne > div > div > svg:nth-child(1) > g.bglayer > rect {
  fill: #f2f3f4 !important;
}

#graph-bar-nearest-neighbors-word > div > div > svg:nth-child(1) {
  background-color: #f2f3f4 !important;
}

#graph-bar-nearest-neighbors-word
  > div
  > div
  > svg:nth-child(1)
  > g.bglayer
  > rect {
  fill: #f2f3f4 !important;
}

#graph-3d-plot-tsne > div > div > svg:nth-child(1) > g.bglayer > rect {
  fill: #f2f3f4;
  fill-opacity: 1;
  stroke-width: 0;
}

#react-select-2--value-item {
  color: #6c7182;
}

#graph-3d-plot-tsne
  > div
  > div
  > svg:nth-child(3)
  > g.infolayer
  > g.legend
  > rect.bg {
  stroke: #6c7182 !important;
  fill: #f2f3f4 !important;
}

#learn-more-button #button {
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0px;
  letter-spacing: 0;
  padding: 0px 15px;
}

/* ---Different Screen Sizes--- */

@media only screen and (max-width: 375px) {
  .columns {
    float: none;
    width: 70%;
  }

  .three.columns {
    padding-left: 20px;
  }

  .six.columns {
    padding-left: 40px;
  }

  background {
    width: 100%;
  }

  #plotly-image {
    float: left !important;
    height: 30px !important;
    margin-right: 0px !important;
    padding-left: 20px !important;
  }
  #app-title {
    float: right !important;
    padding-right: 20px;
    margin: 10px 15px;
  }
}
