aerosandbox==1.1.20
plotly>= 4.6.0
dash>= 1.9
dash_core_components>=1.8.0
dash_html_components>=1.0.2
dash_bootstrap_components>=0.8.0
numpy>=1.18
casadi>=3.5
gunicorn
pandas
seaborn
importlib-resources
