
/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@font-face {
  font-family: "Roboto Black";
  src: url("Roboto-Black.ttf") format('opentype');
}
@font-face {
  font-family: "Roboto Medium";
  src: url("Roboto-Medium.ttf") format('opentype');
}
@font-face{
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format('opentype');
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #F3F4F9;
  font-family: 'Roboto';
  color: #203cb3;
}

.study-browser-banner {
  background: rgb(2,21,70);
  color: white;
  padding: 12px;
  padding-left: 48px;
}

.logo{
  height: 35px;
  float: right;
  padding: 6px;
  margin-top: 3px;
}

.h2-title{
  font-family: 'Roboto Black';
  display: inline-block;
  letter-spacing: 3.8px;
  font-weight: bold;
  font-size: 20px;
}

h5, h6{
  font-family: 'Roboto Medium';
  font-size: 16px;
}

h5{
  padding-left: 42px;
}

.alert {
  padding: 20px;
  background-color: #f44336; 
  color: white;
}

.bg-white{
  background-color: white;
  padding: 24px 32px;
  height: 500px;
}

.app-body{
  margin-left: 4%;
}

.card{
  padding:48px 24px 48px 24px;
  margin-left: 4%;
}

.card-left{
  padding:48px 24px 48px 24px;
  margin-left: 0px;
}

.padding-top-bot{
  padding-top: 12px;
  padding-bottom: 18px;
}

.upload{
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

.upload p, .upload a {
  display: inline;
}

.Select-control{
  border: 1px solid #203cb3;
}

@media (max-width: 768px) {

  .card, .card-left{
    padding: 24px;  
    margin: 0px;
  } 

  .bg-white{
    height: auto;
  }
  
  .study-browser-banner{
    padding-left: 24px;
  }

  .logo{
    float: left;
  }

  .app-body{
    margin-left: 0px;
  }

}