body{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-size: 100%;
    font-weight: 400!important;
    text-rendering: optimizeLegibility!important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    -webkit-font-smoothing: antialiased!important;
    scrollbar-color: #b4b4b4 #262a30;

}

._dash-undo-redo {
  display: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2a516e; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a2d46; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2a516e; 
}

button.close_order{
    height: 24px;
    padding-top: 0px;
}

div{
    font-size:16px; 
}

summary{
  outline:none;
}

details:hover {
    background-color: #2d2f36;
}

div.Select-value, .Select-control,div.period, .Select-input{
    padding:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Select-control{
    background-color: inherit;
    color:#b4b4b4;
    border-color: rgba(180, 180, 180, 0.4);
    border-radius: 20px 20px 20px 20px / 50% 50% 50% 50%;
}

.Select-value-label{
    position: relative;
    padding: 0 10px;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
    color:#b4b4b4;
}

.Select.is-open> .Select-control{
    border-radius: 20px 20px 20px 20px / 50% 50% 50% 50%;
    background-color: inherit;
}

.Select-menu-outer {
  margin-top: 7px;
  background-color: #262a30;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.VirtualizedSelectFocusedOption{
  background-color:#32363f;
}

span.Select-arrow-zone, .select-zone {
    display: inline-block;
}

.modal {
    display: block;  /*Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.menu_chart{
    height: calc(100%-28px);
}

.visible{
    display: block;
}

.not_visible{
    display: none;
}

.modal-content {
    background-color: #262a30;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #56585d;
    width: 50%; /* Could be more or less, depending on screen size */
    color:white;
}

input[type='number'],textarea {
    background-color: #262a30;
    color:white;
    border-color: #56585d;
}

th,td{
    font-weight: normal;
    border:none;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
}

th{
    color: #656668;
}
table{
    width: 100%;
    border-collapse: collapse;
}
button{
    color:white;
    padding: 0rem 1rem;
    border-color: rgba(180, 180, 180, 0.4);
}

button:hover{
    color:#45df7e;
}

.newsRow {
  height: 70px;
  border-bottom: 1px solid #56585d;
}

.newsRow:hover {
    background-color: #2d2f36;
}

a {
  color: #b4b4b4; 
}
a:hover {
  color: #b4b4b4; 
}
