@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

#body {
    padding-bottom: 5rem;
}

/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
    background-color: #2f3445; /* Machine Learning Color is orange */
    padding: 3rem 0;
    width: 100%;
    margin-bottom: 6%;
}

.banner h2 {
    color: #a5b1cd;
    display: inline-block;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
}

.banner h2:hover {
    color: #b4b5bf;
    cursor: pointer;
}

.banner Img {
    position: relative;
    float: right;
    height: 8rem;
}

/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container.scalable {
    width: 95%;
    max-width: none;
}

@media only screen and (max-width: 1300px) {

    .banner .container.scalable {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .banner h2 {
        font-size: 4rem;
    }

    .banner Img {
        height: 8rem;
        margin-bottom: 5rem;
    }

}

/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Select-control {
    color: #a5b1cd;
}

.Select {
    color: #a5b1cd;
}

.Select-menu-outer {
    background-color: #2f3445;
    border: 1px solid gray;
}

.Select div {
    background-color: #2f3445;
}

.Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.Select-value-label {
    color: #a5b1cd !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
}

.card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 75%;
}

#last-card {
    border-bottom: none;
}

.graph-title {
    font-size: 2rem;
    margin: 15% 0 0 25%;
}

#button-zero-threshold {
    background-color: #2f3445;
    color: #a5b1cd;
    border-color: gray;
}

#button-zero-threshold:hover {
    border-color: white;
}

#button-card {
    display: flex;
    flex-direction: column;
}

#first-card {
    padding-top: 0 !important;
}

@media (min-width: 1301px) {
    #left-column {
        margin: 0 3rem 0 0;
        max-height: 83rem;
        max-width: 20%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 1300px) {

    #left-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: none;
        max-width: none;
    }

}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.rc-slider-track {
    background-color: #13c6e9;
}

.rc-slider-handle {
    border: solid 2px #13c6e9;
}

/* Left column
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#slider-svm-parameter-C-coef {
    padding: 5px 10px 25px;
}

#slider-svm-parameter-gamma-coef {
    padding: 5px 10px 25px
}

#shrinking-container {
    padding: 20px 10px 25px 4px
}

/* Graph container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#svm-graph-container {
    margin-top: 5px;
}

#graphs-container {
    min-width: 24.5%;
    height: 83rem;
    margin-top: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media only screen and (min-width: 1301px) {
    #graph-line-roc-curve {
        height: 40%
    }

    #graph-pie-confusion-matrix {
        height: 60%
    }

    #graph-sklearn-svm {
        height: 83rem;
    }
}

@media only screen and (max-width: 1300px) {
    #div-graphs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #svm-graph-container {
        width: 80vw;
        height: 65vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #graph-sklearn-svm {
        width: 80%;
        height: 150%;
    }

    #graphs-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: 0 0 0 -7rem;
        padding: 8rem 10rem;
        max-height: none;
        height: 150rem;
    }

    #graph-line-roc-curve {
        height: 50rem;
        margin: 4rem 0 7rem 0;
    }

    #graph-pie-confusion-matrix {
        height: 75rem;
    }
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
    display: none;
}

@media only screen and (max-width: 1300px) {
    #app-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
