#mhp-page-content {
    background-color: #E8F0F9 !important;
    color: #5B5B5B !important;
}

#mhp-page-content ::-webkit-scrollbar {
    background-color: #E8F0F9 !important;
}
#mhp-page-content ::-webkit-scrollbar-thumb {
    background-color: #56B5FF !important;
}

#mhp-page-content::-webkit-scrollbar {
    display: none;
}

#manhattan-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
}

#manhattan-control-tabs .tab-content {
    padding: 20px;
}

.manhattan-tab {
    max-height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}

#manhattan-control-tabs .tab--selected {
    border-top: solid 2px #56B5FF !important;
    color: #56B5FF !important;
}

#mhp-graph{
    height: 550px;
    padding: 20px;
}
#mhp-graph-div {
    display: inline-block !important;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
}
#mhp-page-content .app-controls-name {
    width: 100px !important;
}
#mhp-page-content .rc-slider-track {
    background-color: #56B5FF !important;
}
#mhp-page-content .rc-slider-handle, #mhp-page-content .rc-slider-dot-active {
    border-color: #56B5FF !important;;
}
#mhp-page-content .rc-slider {
    width: 150px !important;
    float: right;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
}
