.app-header {
    height: 100px;
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 80px;
}

.app-header #github-link {
    font-style: italic;
}

.entire-app {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.direction-button {
    width: 150%;
}

#Left, #Right {
    width: 100%;
}

.slider-labels {
    transform: none;
}

#button-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
}

#adjust-init-pos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

#bottom-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
