.app-header {
    height: 100px;
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 80px;
}

.app-header #github-link {
    font-style: italic;
}

.entire-app {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.direction-button #Left, #Up, #Down {
    width: 100%;
    height: 100%;
}