body {
    background-color: #141414;
    color: #F4F6F8;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.pb-20 {
    padding-bottom: 20px;
}

.red-ish {
    color: #BA2456;
}

a:hover {
    opacity: 0.5;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.header img {
    height: 40px;
    width: auto;
}

.header p {
    padding: 10px 0px;
}

.header h4 {
    font-family: "serif";
    margin: 5px 0px 0px 20px;
}

.header a {
    padding: 10px 15px;
    background: transparent;
    color: #F9FAFB;
    text-decoration: none;
    border-radius: 0.35rem;
    border: 1px solid #F9FAFB;;
    margin: 15px 10px 0px 0px;
}

.graph__container {
    display: flex;
    justify-content: center;
}


.app__right__section {
    background-color: #1D1D1D;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    overflow: scroll;
    padding: 25px;
    border-left: black solid 5px;
}

.app__right__section::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C4CDD5;
    --webkit-box-shadow: 0 0 1px #C4CDD5;
}

.app__right__section::-webkit-scrollbar {
    --webkit-appearance: none;
    width: 10px;
}

.app__right__section::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

.subheader {
    font-size: 1.2em;
    color: #DFE3E8;
}

.colorscale-block {
    margin: 0 !important;
    border: 1px solid #C4CDD5;
    padding: 5px 5px 0px 5px;
    border-radius: 0.5rem;
}

.colorscale-block div {
    margin: 0 !important;
}

.label__option {
    display: inline-block;
    padding-right: 15px;
}

.input__option {
    margin-right: 8px;
}

.small-text {
    font-size: 1em;
    color: #919EAB;
}

.info__container {
    background-color: #292929;
    color: white;
    padding: 25px;
}

.colorscalePickerContainer {
    background: #F4F5FA !important;
}

#brain-graph {
    user-select: none;
    margin: auto;
    height: 60vh;
}

@media all and (max-width: 768px) {
    .header__title {
        display: block;
        margin-top: 25px;
    }
    .header__title h4 {
        text-align: center;
    }
    .header__title img {
        display: flex;
        height: 30px;
        width: auto;
        padding-bottom: 10px;
    }
    .header__info p {
        text-align: center;
        font-size: 14px;
    }
    .header__button {
        text-align: center;
    }
    .app__right__section {
        border: none;
    }
    .graph__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .app__right__section {
        overflow-y: hidden;
        overflow: hidden;
        min-height:initial;
        max-height: initial;
    }
    #radio-options {
        font-size: 11px;
    }
    #brain-graph {
        height: 350px;
        width: 350px;
    }
}