#speck-body {
    background-color: #FFFFFF;
}

#speck-body ::-webkit-scrollbar-thumb {
    background-color: #5673fa;
}

#speck-control-tabs .tab--selected {
    color: #5673FA !important;
}

#speck-control-tabs .tab-content {
    padding: 20px;
}

#speck-container {
    display: inline-block !important;
    padding: 0px;
    margin: 50px;
}
#speck-body .rc-slider-track {
    background-color: #5673FA;
}
#speck-body .rc-slider-handle {
    border-color: #5673FA;
}
#speck-show-hide-bonds label, #speck-enable-presets label {
    font-size: 14pt;
}
#speck-show-hide-bonds label input[type=checkbox], #speck-enable-presets label input[type=checkbox] {
    height: 12pt;
    margin-right: 10px;
}
#speck-preset-atom-style-dropdown, #speck-preset-rendering-dropdown, #speck-molecule-dropdown {
    padding-top: 5px;
    display: inline-block;
    float: right;
    width: 220px;
    vertical-align: top;
    margin-bottom: 20px;
}
#speck-body .app-controls-name {
    width: 100px;
}
#speck-body .control-slider {
    width: 190px;
}
#speck-body .rc-slider {
    margin-top: 10px;
    margin-right: 5px;
}
#speck-body .control-upload {
    display: block;
    border: dotted 1px #119DFF; /* Change in individual app stylesheet */
    border-radius: 5px;
    padding: 30px;
    font-size: 9pt;
    text-align: center;
}
#speck-body .control-download {
    width: 100%;
}
#speck-body .control-download:hover {
    color: #5673FA;
    border-color: #5673FA;
}
#speck-preloaded-uploaded-alert {
    font-size: 8pt;
    margin: 10px;
    margin-bottom: 20px;
}
#speck-controls-detailed {
    width: 100%;
}
