/* custom styling for the new refreshed app */

#div-total-step-count > h6 {
  font-weight: bold;
  font-size: 20px;
  color: #666464;
}

#div-total-step-count {
  margin-top: 15px;
}

#div-step-display > h6 {
  font-weight: bold;
  font-size: 20px;
  color: #666464;
}

.markdown img {
  width: 100%;
}

._dash-undo-redo {
  display: none;
}

#plotly-logo {
  margin-top: 10px;
  margin-left: 4px;
}

#learn-more-button {
  color: #e8e8e8;
  font-family: "Open Sans Semi Bold", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1.16px;
  font-size: 12px;
  padding: 0px 15px;
  margin-top: 17px;
  width: auto;
}

.dropdown-box-first,
.dropdown-box-second,
.dropdown-box-third {
  padding: 10px 5px;
}



/* slider colors */

.rc-slider-track {
  background-color: #f6ec91;
}

.rc-slider-dot-active {
  border-color: #f6ec91;
}

.rc-slider-handle {
  border-color: #f6ec91;
}

#slider-smoothing-accuracy > div > div.rc-slider-handle {
  border-color: #f6ec91;
}

#slider-smoothing-accuracy
  > div
  > div.rc-slider-step
  > div.rc-slider-dot-active {
  border-color: #f6ec91;
}

#slider-smoothing-cross-entropy > div > div.rc-slider-track {
  background-color: #36daaa;
}

#slider-smoothing-cross-entropy > div > div.rc-slider-handle {
  border-color: #36daaa;
}

#slider-smoothing-cross-entropy
  > div
  > div.rc-slider-step
  > .rc-slider-dot-active {
  border-color: #36daaa;
}

/* overall app background color */
#_dash-app-content > div {
  background-color: #f8f9fa;
}



@media only screen and (max-width: 1000px) {
  .container {
    padding: 20px;
  }

  #title {
    width: 45%;
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 7% !important;
  }

  #learn-more-button {
    width: 75px;
    height: 30px;
    margin-left: 90px;
    font-size: 7.5px !important;
    padding: 0px 8px !important;
    margin-top: 25px;
  }

  #plotly-logo {
    margin-top: 24px;
    margin-left: 4px;
  }

  .dropdown-box-first,
  .dropdown-box-second {
    width: 50%;
  }

  #div-interval-control {
    text-align: center;
    display: flex;
  }

  #div-total-step-count {
    margin-top: 0px;
  }

  #div-total-step-count>h6,
  #div-step-display>h6 {
    text-align: left;
    display: inline-block;
    font-size: 1.9rem;
  }

  #div-total-step-count>h6 {
    float: right;
    margin-right: 10%;
  }

  #div-step-display>h6 {
    float: left !important;
    margin-left: 25%;
  }


  /* First Page Smoothing Options */

  .graph-checkbox-smoothing {
    font-weight: bold;
    display: inline-block;
    width: 50%;
  }

  #slider-smoothing-accuracy {
    width: 50%;
    float: right;
  }

  .checklist-smoothing {
    display: inline-block;
    width: 50%;
    text-align: center;
  }


  #checklist-smoothing-options-accuracy>label:nth-child(1),
  #checklist-smoothing-options-accuracy>label:nth-child(2) {
    display: inline-block;
    font-size: 14.5px;
    margin: 0;
    padding: 10px;
    text-align: right;
  }


  #_dash-app-content>div>div:nth-child(4)>div>div.two.columns>div.slider-smoothing {
    margin-bottom: 60px !important;
  }

  /* Radio items */
  #radio-display-mode-accuracy {
    margin: 5px 0;

  }

  .radio-item-div {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-left: 20%;
  }

  .plot-display-radio-items {
    text-align: left;
    display: inline-block;
    font-size: 12px;
    margin: 5px 0;
  }

  .plot-display-text {
    display: inline-block;
    width: 45%;
    font-size: 14px;
  }

  #radio-display-mode-accuracy>label:nth-child(1)>input[type=radio],
  #radio-display-mode-accuracy>label:nth-child(2)>input[type=radio], 
  #radio-display-mode-accuracy>label:nth-child(3)>input[type=radio] {
    vertical-align: middle !important;
  }

  #radio-display-mode-cross-entropy>label:nth-child(1)>input[type=radio],
  #radio-display-mode-cross-entropy>label:nth-child(2)>input[type=radio],
  #radio-display-mode-cross-entropy>label:nth-child(3)>input[type=radio] {
    vertical-align: middle !important;
  }

  /* Current Accuracy */
  #div-current-accuracy-value>p {
    display: inline-flex !important;
    width: 40%;
  }

  #div-current-accuracy-value>div:nth-child(2),
  #div-current-accuracy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 10px 2px !important;
    font-size: 13px;
    padding-left: 65px;
  }


  /* Second page smoothing options */

  #checklist-smoothing-options-cross-entropy {
    text-align: center;
    margin: 10px 0;
  }

  #checklist-smoothing-options-cross-entropy>label:nth-child(1),
  #checklist-smoothing-options-cross-entropy>label:nth-child(2) {
    display: inline-block;
    font-size: 14.5px;
    margin: 0;
    padding: 10px;
    text-align: right;
  }

  #slider-smoothing-cross-entropy>div {
    width: 50%;
    float: right;
  }

  #_dash-app-content>div>div:nth-child(5)>div>div.two.columns>div.slider-smoothing {
    margin-bottom: 60px !important;
  }



  /* Current Loss */

  #div-current-cross-entropy-value>p {
    display: inline-flex !important;
    width: 40%;
  }

  #div-current-cross-entropy-value>div:nth-child(2),
  #div-current-cross-entropy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 10px 10px !important;
    font-size: 13px;
    padding-left: 65px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 20px;
  }

  #title {
    width: 45%;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 7% !important;
  }

  #learn-more-button {
    width: 75px;
    height: 30px;
    margin-left: 10px;
    font-size: 7.5px !important;
    padding: 0px 8px !important;
    margin-top: 25px;
  }
  #plotly-logo {
    margin-top: 30px;
    margin-left: 4px;
  }

  .dropdown-box-first,
  .dropdown-box-second {
    width: 50%;
  }

  #div-interval-control {
    text-align: center;
    display: flex;
  }

  #div-total-step-count {
    margin-top: 0px;
  }

  #div-total-step-count>h6,
  #div-step-display>h6 {
    display: block;
    font-size: 1.4rem;
  }
 
  #div-total-step-count>h6 {
    float: right;
    margin-right: 10%;
  }

  #div-step-display>h6 {
    float: left !important;
    margin-left: 25%;
  }
 
  /* First Page Smoothing Options */


  .graph-checkbox-smoothing {
    font-weight: bold;
    display: inline-block;
    width: 50%;
  }

  #slider-smoothing-accuracy {
    width: 50%;
    float: right;
  }

  .checklist-smoothing{
    display: inline-block;
    width: 50%;
    text-align: center;
  }

  
  #checklist-smoothing-options-accuracy>label:nth-child(1),
  #checklist-smoothing-options-accuracy>label:nth-child(2) {
    display: inline-block;
    font-size: 9.5px;
    margin: 0;
    padding: 10px;
    text-align: right;
  }
  

  #_dash-app-content>div>div:nth-child(4)>div>div.two.columns>div.slider-smoothing {
    margin-bottom: 60px !important;
  }

  /* Radio items */
  #radio-display-mode-accuracy {
    margin: 5px 0;
    
  }

  .radio-item-div {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-left: 15%;
  }
  
  .plot-display-radio-items {
    text-align: left;
    display: inline-block;
    font-size: 12px;
    margin: 5px 0;
  }

  .plot-display-text {
    display: inline-block;
    width: 45%;
    font-size: 14px;
  }

 
  /* Current Accuracy */
  #div-current-accuracy-value>p {
    display: inline-flex !important
  }

  #div-current-accuracy-value>div:nth-child(2),
  #div-current-accuracy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 20px 2px;
    font-size: 9px !important;
    padding-left: 25px;
  }


  /* Second page smoothing options */

  #checklist-smoothing-options-cross-entropy {
    text-align: center;
    margin: 10px 0;
  }
  
  #checklist-smoothing-options-cross-entropy>label:nth-child(1),
  #checklist-smoothing-options-cross-entropy>label:nth-child(2) {
      display: inline-block;
      font-size: 9.5px;
      margin: 0;
      padding: 10px;
      text-align: right;
  }

  #slider-smoothing-cross-entropy>div {
    width: 50%;
    float: right;
  }

  #_dash-app-content>div>div:nth-child(5)>div>div.two.columns>div.slider-smoothing {
    margin-bottom: 60px !important;
  }

 

  /* Current Loss */

  #div-current-cross-entropy-value {
    display: inline-flex !important;
    width: 100%;
  }

  #div-current-cross-entropy-value>div:nth-child(2),
  #div-current-cross-entropy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 10px 2px;
    font-size: 9px !important;
    padding-left: 10px;
    padding-top: 10px;
    
  }

  


}

@media (max-width: 375px) {
  #title {
    width: 150px;
    font-size: 1.5rem !important;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 8% !important;
  }

  #learn-more-button {
    width: 75px;
    height: 30px;
    margin-left: -5px !important;
    font-size: 7.5px !important;
    padding: 0px 8px !important;
    margin-top: 25px;
  }

  #plotly-logo {
    margin-top: 30px;
    margin-left: 4px;
  }

  .dropdown-box-first,
  .dropdown-box-second {
    width: 50%;
  }



  #div-interval-control {
    text-align: center;
    display: flex;
  }


  #div-total-step-count>h6,
  #div-step-display>h6 {
    text-align: left;
    display: inline-block;
    font-size: 1.4rem !important;
  }

  #div-total-step-count>h6 {
    float: right !important;
    margin-right: 5%;
  }

  #div-step-display>h6 {
    float: left !important;
  }

  /* First page Smoothing Options */
  #checklist-smoothing-options-accuracy {
    text-align: center;
    margin: 10px 0;
    display: inline-flex;
  }

  #checklist-smoothing-options-accuracy>label:nth-child(1),
  #checklist-smoothing-options-accuracy>label:nth-child(2) {
    text-align: center;
    display: inline;

  }

  /* Second page Smoothing Options */
  #checklist-smoothing-options-cross-entropy {
    text-align: center;
    margin: 10px 0;
    display: inline-flex;

  }

  #checklist-smoothing-options-cross-entropy>label:nth-child(1),
  #checklist-smoothing-options-cross-entropy>label:nth-child(2) {
    text-align: center;
    display: inline;
    
  }

  /* Radio items */
  #radio-display-mode-accuracy {
    margin: 1px 0;

  }

  .radio-item-div {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;

  }

  .plot-display-radio-items {
    text-align: left;
    display: inline-block;
    font-size: 10px !important;
    margin: 10px 0 !important;
    
    
  }

  .plot-display-text {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
  }

  

  /* Current Accuracy */
  #div-current-accuracy-value>p {
    display: inline-flex !important;
    font-size: 13px !important;
  }

  #div-current-accuracy-value>div:nth-child(2),
  #div-current-accuracy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 20px 5px;
    font-size: 8px !important;
  }


  /* Current Loss */

  #div-current-cross-entropy-value {
    display: inline-flex !important;
    font-size: 13px !important;
  }

  #div-current-cross-entropy-value>div:nth-child(2),
  #div-current-cross-entropy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 20px 2px;
    font-size: 8px !important;
    vertical-align: bottom !important;
    padding: 0;
    padding-top: 10px;
    padding-left: 5px;
  }

}

@media (max-width: 360px) {

  /* Current Accuracy */
  #div-current-accuracy-value>p {
    display: inline-flex !important;
    font-size: 13px !important;
  }

  #div-current-accuracy-value>div:nth-child(2),
  #div-current-accuracy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 20px 5px;
    font-size: 7px !important;
  }


  /* Current Loss */

  #div-current-cross-entropy-value {
    display: inline-flex !important;
    font-size: 13px !important;
  }

  #div-current-cross-entropy-value>div:nth-child(2),
  #div-current-cross-entropy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 20px 2px;
    font-size: 8px !important;
    vertical-align: bottom !important;
    padding: 0;
    padding-top: 10px;
    padding-left: 2px;

}



@media (max-width: 320px) {
  #title {
    width: 150px;
    font-size: 1.4rem !important;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 8% !important;
  }

  #learn-more-button {
    width: 60px;
    height: 30px;
    margin-left: -5px !important;
    font-size: 5.5px !important;
    padding: 0px 8px !important;
    margin-top: 25px;
  }

  #plotly-logo {
    margin-top: 30px;
  }

  .dropdown-box-first,
  .dropdown-box-second {
    width: 50%;
  }


  #div-interval-control {
    text-align: center;
    display: flex;
  }


  #div-total-step-count>h6,
  #div-step-display>h6 {
    text-align: left;
    display: inline-block;
    font-size: 1.2rem !important;
  }

  #div-total-step-count>h6 {
    float: right;
    margin-right: 10%;
  }

  #div-step-display>h6 {
    float: left;
    margin-left: 10%;
  }

  /* First page Smoothing Options */
  #checklist-smoothing-options-accuracy {
    text-align: center;
    margin: 10px 0;
    display: inline-flex;
  }

  #checklist-smoothing-options-accuracy>label:nth-child(1),
  #checklist-smoothing-options-accuracy>label:nth-child(2) {
    text-align: center;
    display: inline;

  }

  /* Second page Smoothing Options */
  #checklist-smoothing-options-cross-entropy {
    text-align: center;
    margin: 10px 0;
    display: inline-flex;

  }

  #checklist-smoothing-options-cross-entropy>label:nth-child(1),
  #checklist-smoothing-options-cross-entropy>label:nth-child(2) {
    text-align: center;
    display: inline;

  }

  /* Radio items */
  #radio-display-mode-accuracy {
    margin: 1px 0;

  }

  .radio-item-div {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;

  }

  .plot-display-radio-items {
    text-align: left;
    display: inline-block;
    font-size: 10px !important;
    margin: 1px 0;
  }

  .plot-display-text {
    display: inline-block;
    width: 50%;
    font-size: 12px;
  }

  /* Current Accuracy */
  #div-current-accuracy-value>p {
    display: inline-flex !important;
    font-size: 10px !important;
  }

  #div-current-accuracy-value>div:nth-child(2),
  #div-current-accuracy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 20px 5px;
    font-size: 8px !important;
    padding-left: 5px;
  }


  /* Current Loss */

  #div-current-cross-entropy-value {
    display: inline-flex !important;
    font-size: 13px !important;
  }

  #div-current-cross-entropy-value>div:nth-child(2),
  #div-current-cross-entropy-value>div:nth-child(3) {
    text-align: center;
    display: inline;
    margin: 20px 2px;
    font-size: 7px !important;
    vertical-align: bottom !important;
    padding: 0;
    padding-top: 10px;
    padding-left: 0px;
  }

  }

  
}


  

/* #react-select-4--value-item {
  color: #6b6b6b;
} */
