/* custom styling for the new refreshed app */

.markdown img {
  width: 100%;
}

._dash-undo-redo {
  display: none;
}

#learn-more-button {
  color: #e8e8e8;
  font-family: "Open Sans Semi Bold", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1.16px;
  font-size: 12px;
  padding: 0px 15px;
  margin-top: 20px;
  width: auto;
}

.dropdown-box {
  padding: 15px 15px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #f6ec91;
}

.rc-slider-dot-active {
  border-color: #f6ec91;
}

.rc-slider-handle {
  border-color: #f6ec91;
  /* border: solid 2px #f6ec91; */
}

#_dash-app-content > div {
  background-color: #f8f9fa;
}

/* #_dash-app-content > div > div:nth-child(2) > div:nth-child(2) {
  width: 80.5%;
} */

/* 
#div-interval-control {
  padding: 10px 10px;
} */

/*.rc-slider-handle:hover {
  border-color: white;
  border: solid 2px #f6ec91;
}  */

.char-btn input[type="radio"] {
  background-color: #f6866e;
  opacity: 0.7;
  z-index: 100;
}
