#clustergram-body {
    color: #E4E4E4 !important;
    background-color: #191A1C !important;
}
#clustergram-body ::-webkit-scrollbar {
    background-color: #191A1C !important;
}
#clustergram-body ::-webkit-scrollbar-thumb {
    background-color: #FFBF00 !important;
}

#clustergram-wrapper {
    width: 900px;
    display: inline-block !important;
    padding: 0px;
    overflow-x: scroll;
    margin: 0px;
}
#clustergram-wrapper::-webkit-scrollbar {
    display: none;
}

#clustergram-control-tabs, #clustergram-control-tabs .tab {
    background-color: #232323 !important;
}
#clustergram-body .control-tab {
    background-color: #232323 !important;
}
#clustergram-control-tabs .tab {
    background-color: #232323;
    color: #E4E4E4;
    border-color: #727272 !important;
}
#clustergram-control-tabs .tab--selected {
    color: #FFBF00 !important;
    border-top-color: initial !important;
}
#clustergram-control-tabs .Select-control {
    border: solid 1px #727272;
    background-color: #232323 !important;
}
#clustergram-control-tabs .Select, #clustergram-control-tabs .Select-control, #clustergram-control-tabs input, #clustergram-control-tabs .Select-menu-outer, #clustergram-control-tabs .Select-value-label {
    background-color: #232323 !important;
    border-color: #727272 !important;
    color: #E4E4E4;
}
#clustergram-control-tabs .Select-value-icon {
    background-color: #232323;
}
#clustergram-control-tabs .Select-value {
    border-color: #727272;
}

#clustergram-annot-color, #clustergram-body .chrome-picker {
    border: none !important;
    background: none !important;
    margin-bottom: 125px;
}
#clustergram-annot-color > div > div:nth-child(1) {
    margin-bottom: -60px !important;
}
#clustergram-annot-color > div > div:nth-child(1) > div {
    height: 120px;
}
#clustergram-annot-color > div > div:nth-child(2) > div:nth-child(2) {
    display: none !important;
}
#clustergram-annot-color {
    color: white !important;
}
#clustergram-body .Select-value-icon {
    color: #FFBF00;
    border-right: 1px solid #AAAAAA;
}

#clustergram-body .control-slider {
    width: 225px !important;
    margin-top: 4px;
}
#clustergram-body .rc-slider-track {
    background-color: #FFBF00 !important;
}
#clustergram-body .rc-slider-handle {
    background-color: #232323;
    border: solid 2px #FFBF00 !important;
}
#clustergram-body .rc-slider-rail {
    background-color: #191A1C !important;
}

#threshold-wrapper {
    margin-top: -30px;
}

#clustergram-body #remove-all-group-markers {
    float: right;
    font-size:7pt !important;
    line-height: 10pt;
    padding: 0px !important;
    color: #E4E4E4;
    font-weight: 100;
    border-color: #FFBF00;
    text-align: center;
    width: 140px;
    height: 25px;
    margin-top: 5px;
    transition-duration: 500ms;
}

#clustergram-body #remove-all-group-markers:hover {
    border-color: #E4E4E4;
}

input#selected-rows, input#selected-columns {
    padding: 0px !important;
    margin-top: 7px;
}

#hide-labels, #cluster-checklist {
    width: 190px;
    display: inline-block;
}
#selected-rows, #selected-columns {
    width: 100%;
}
#selected-rows .Select-multi-value-wrapper, #selected-columns .Select-multi-value-wrapper {
    max-height: 115px;
    overflow-y: auto;
    margin-top: 5px;
}
#clustergram-body .app-controls-name {
    width: 125px;
}

#clustergram-body #annotation {
    width: 100% !important;
}
#clustergram-datasets {
    width: 100%;
}

#clustergram-body #file-upload-name {
    display: block;
    margin-left: 10px;
}
#clustergram-body .control-download {
    color: #E4E4E4;
}
#clustergram-body .control-download:hover {
    color: #FFBF00 !important;
    border-color: #FFBF00 !important;
}
    
#clustergram-body .control-upload {
    border-color: #FFBF00 !important;
}

#clustergram-file-upload-container {
    margin: 10px 0px;
}
#clustergram-body #row-labels-source {
    width: 100%;
    margin: 10px 0px;
}



.blankspace {
	background: #191A1C;
	width: 100%;
	height: 100vh;
	font-size: 50px;
	color: white;
	font-family: "Times";
}
