ansi2html==1.6.0
anyio==2.2.0
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
cycler==0.10.0
dash==1.20.0
dash-bootstrap-components==0.12.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dash-vtk==0.0.9
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
entrypoints==0.3
espatools==0.1.1
Flask==1.1.2
Flask-Compress==1.9.0
future==0.18.2
gunicorn==20.0.4
hyperlink==21.0.0
idna==2.10
imageio==2.9.0
incremental==21.3.0
ipycanvas==0.8.2
ipyevents==0.8.2
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipyvtklink==0.2.1
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-dash==0.4.0
jupyter-packaging==0.9.2
jupyter-server==1.15.4
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lasio==0.29
MarkupSafe==1.1.1
matplotlib==3.4.2
meshio==4.4.6
mistune==0.8.4
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.3.0
numpy==1.20.2
orjson==3.5.3
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.14.3
prometheus-client==0.10.1
prompt-toolkit==3.0.18
properties==0.6.1
PVGeo==2.1.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pyvista==0.31.0
pyzmq==22.0.3
requests==2.25.1
retrying==1.3.3
scikit-image==0.18.1
scipy==1.6.3
scooby==0.5.7
segyio==1.9.6
Send2Trash==1.5.0
six==1.15.0
sniffio==1.2.0
terminado==0.9.4
testpath==0.4.4
tifffile==2021.6.14
tomlkit==0.7.0
tornado==6.1
traitlets==5.0.5
transforms3d==0.3.1
Twisted==21.2.0
txaio==21.2.1
urllib3==1.26.4
vectormath==0.2.2
vtk==9.0.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wslink==0.2.0
xarray==0.17.0
xmltodict==0.12.0
zope.interface==5.4.0
opencv-python-headless