/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Custom App CSS
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 0.5%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    .one.column,
    .one.columns                    { width: 8%;             }
    .two.columns                    { width: 16.25%;         }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 33%;            }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 49.75%;          }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 66.5%;          }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.5%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-half.column                { width: 48%; }
  
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
  
  }
  
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5%; }
  body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(50, 50, 50); }
  
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300; }
  h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
  h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
  h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
  h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
  h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}
  
  p {
    margin-top: 0; }
  
  
  /* Blockquotes
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
  }
  
  
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #1EAEDB; }
  a:hover {
    color: #0FA0CE; }
  
  
  /* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }
  
  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; 
    font-family: inherit;
    font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: 0px; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul {
    list-style: circle inside; }
  ol {
    list-style: decimal inside; }
  ol, ul {
    padding-left: 0;
    margin-top: 0; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }
  li {
    margin-bottom: 1rem; }
  
  
  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  
  
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 0rem; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 0rem; }
  pre,
  dl,
  figure,
  table,
  form {
    margin-bottom: 0rem; }
  p,
  ul,
  ol {
    margin-bottom: 0.75rem; }
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  
  
  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
  
  

/* Custom App CSS
---------------------------------------*/
body{
    background-color: #1a1c23;
    color: #b2b2b2;
    height: 100vh;
    margin: 0;
}

.span-menu{
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.span-menu:hover, .selected{
  text-decoration: underline;
  text-decoration-color: #55575D;
}

.table-news{
  border: 1px solid #55575D;
  border-collapse: collapse;
  width: 100%;
  max-height: 500px;
}

.table-news td{
  border: 1px solid #55575D;
}

.table-news tr:hover{
  background-color: #292B33;
  cursor: pointer;
}

.table-orders{
  width: 100%;
  background-color: #22252b;
  color: #686868;
  overflow-x: auto;
}

.table-orders-empty{
  padding: 24px;
}

tr{
  padding: 12px;
}

th{
  padding: 15px;
  text-align: center;
  border-bottom: none; 
}

.td-link{
  color: #b2b2b2;  
  text-decoration: none;
  font-size: 12px;
  text-align: left;
}

.text-center{
  text-align:center;
}

.div-news{
  padding: 24px;
}


.p-news{
  display:inline;
  font-size:12px;
  padding: 3px;
  margin: 0;
}

.float-right{
  float:right;
}

.div-left-panel{
  background-color: #22252b;
  color: #b2b2b2;
  margin: 0px;
  height:100%;
  /*overflow-y: scroll;*/
}

.div-right-panel{
  padding: 80px 64px 64px 32px;
}

.div-bid-ask{
  max-height: 45%;
  padding-bottom: 15px;
}

.div-top-bar{
  color: #ededed;
  font-size: 18px;
}

.div-info{
  padding: 32px;
}

.div-info p{
  font-size: 12px;
}

.div-bottom-panel{
  margin: 24px 0px 0px 0px;
  padding: 5;
  height: 21%;
  background-color: #282b33;
}

.div-close-orders{
  float: right;
  right: 5px;
  top: 3px;
  width: 200px;
  text-align: center;
}

.title-header{
  display: none;
}

.display-none{
  display: none;
}

.display-block{
  display:block;
}

.display-inlineblock{
  display: inline-block;
}

.chart-style{
  position: relative;
  float: left;
  padding-right: 12px;
  margin-left: 0px;
}

.height-50{
  height: 50%;
}

.height-100{
  height: 100%;
}

.p-top-bar{
  color: #b2b2b2;
  font-size: 18px;
}

.header-bid-ask{
  text-align: center;
  padding-left: 10px;
  color: #ededed;
}
.three-col{
  display: inline-block;
  width: 33%;
  text-align: center;
}

.two-col{
  display: inline-block;
  width: 16.25%;
  text-align: center;
}

.logo{
  width: 100%;
  max-width: 200px;
}



button{
  color: #EDEDED;
  margin: 0px;
  border-radius: 0px;
}


div.Select-value, .Select-control,div.period, .Select-input{
  padding:0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Select-control{
  background-color: inherit;
  color:#b4b4b4;
  border-color: rgba(180, 180, 180, 0.4);
  border-radius: 20px 20px 20px 20px / 50% 50% 50% 50%;
}

.no-profit{
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
}

.profit{
  background: linear-gradient(to bottom, rgba(0,255,0,0), rgba(0,255,0,1));
}

.Select-value-label{
  position: relative;
  padding: 0 10px;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color:#b4b4b4;
}

.Select.is-open> .Select-control{
  border-radius: 20px 20px 20px 20px / 50% 50% 50% 50%;
  background-color: inherit;
}

.Select-menu-outer {
  margin-top: 7px;
  background-color: #262a30;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  z-index: 1000;
}

.visible{
  display: block;
  position: absolute;
  overflow: auto;
  z-index: 20;
  width: 45%;
  height: 75%;
  background-image: -webkit-linear-gradient(top,#30333d,#18252e 63%);
  top: 58px;
}

.not_visible{
  display: none;
  position: absolute;
}

.dropdown-period{
  width: 100px;
}

.chart-top-bar{
  background-color: #30333d;
  padding:12px;
}

.chart-title{
  margin-top: 3px;
  margin-left: 12px;
}

.chart-title:hover{
  text-decoration: underline;
  text-decoration-color: #55575D;
  cursor: pointer;
}

.chart-graph{
  padding-bottom: 16px;
}

.inline-block{
  display: inline-block
}

.chart-close{
  cursor: pointer;
  display: inline-block;
  padding: 5px 12px;
}

.graph-top-right{
  float: right;
}

.graph-top-bar{
  display: inline-block;
}

.bottom-dropdown{
  width: 200px;
  padding:12px;
}

.Select-placeholder{
  padding-left:21px;
}

.button-buy-sell-chart{
  width: 48%;
  text-align: center;
  display: inline-block;
}


.button-buy-sell-chart-right{
  width: 48%;
  text-align: center;
  display: inline-block;
  float: right;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select{
  border: 1px solid #b4b4b4;
  background-color:#262a30;
  border-radius: 5px;
  color: #b4b4b4;
}

.modal {
  display: block;  /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #1A1C23;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  width: 50%; /* Could be more or less, depending on screen size */
  color:#b2b2b2;
}

.modal-close{
  float: right;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10;
}

.modal-order-btn{
  text-align: center;
  margin-top: 12px;
}

th, td{
  padding: 12px;
}
th:first-child,
td:first-child {
  padding-left: 12px; }
th:last-child,
td:last-child {
  padding-right: 12px; }

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #22252b;
  border: 1px solid #b2b2b270;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 10px;
  padding: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5b5b570;
}

details {
  border-radius: 4px;
  padding: .5em .5em 0;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
  
}

.summary{
  font-weight: bold;
  padding: .5em;
}

.modal-user-control{
  padding-left: 12px;
}

.summary:hover, .summary-open{
  background-color: #292B33;
  font-weight: bold;
  padding: .5em;
  cursor: pointer;
}

.details{
  background-color: #292B33;
  padding-top: 16px;
  padding-bottom: 16px;
}

summary::-webkit-details-marker {
  display: none;
}

@media only screen and (max-width: 548px) {
  .chart-style{
    padding-right: 0px;
  }
  .div-top-bar{
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .three, .nine {
    min-width: 100%;
  }

  .title-header{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    display: block;
  }

  .modal-user-control{
    padding-left: 0px;
  }

  .div-info{
    text-align: center;
  }

  .div-right-panel{
    padding: 32px;
  }

  .div-news{
    padding: 24px 64px;
    padding-bottom: 64px;
  }

  .div-currency-toggles{
    border-bottom: 1px solid #55575D;
  }

  .two-col{
    display: inline-block;
    width: 33%;
    text-align: center;
  }

  .div-info{
    padding: 64px;
  }
}

._dash-undo-redo {
  display: none;
}