#alignment-body ::-webkit-scrollbar-thumb {
    background-color: #34AD99 !important;
}

#alignment-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
    display: inline-block;
}
#alignment-control-tabs .tab-content {
    padding: 20px;
}
.alignment-tab {
    max-height: 420px;
    overflow-y: auto;
    padding-right: 15px;
}

#alignment-body .control-tabs .tab--selected {
    color: #34AD99 !important;
}

#alignment-control-tabs .tab-content {
    padding: 20px;
}
#alignment-chart {
    width: calc(100vw - 650px);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: inline-block;
}
#alignment-chart svg {
    background-color: rgba(0,0,0,0) !important;
}
#alignment-body .control-upload {
    border-color: #34AD99 !important;
}
#alignment-body .control-download:hover {
    color: #34AD99 !important;
    border-color: #34AD99 !important;
}
#alignment-body h5 {
    margin-bottom: 10px;
    text-align: center;
}

#alignment-body .rc-slider-track {
    background-color: #34AD99;
}
#alignment-body .rc-slider-handle, #alignment-body .rc-slider-dot {
    border-color: #34AD99;
}
.alignment-settings .rc-slider {
    width: 50% !important;
    margin-left: 25px;
}

.alignment-radio > label {
    text-align: left;
    display: block;
}
.alignment-radio {
    margin-top: 5px;
    margin-left: 5px;
    width: 140px !important;
    display: inline-block;
}
h3.alignment-settings-section {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16pt;
}

#alignment-colorscale-dropdown, #alignment-overview-dropdown,
#alignment-conservationcolorscale-dropdown, #alignment-conservationmethod-dropdown,
#alignment-gapcolor-dropdown {
    display: inline-block;
    width: 150px;
    float: right;
}
#alignment-body .rc-slider-track {
    background-color: #34AD99 !important;
}

#alignment-body .rc-slider-handle {
    border-color: #34AD99 !important;
}
