body{
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
}

.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

.wind-speed-row .Title{
  border-bottom: 1px solid rgb(216, 216, 216);
}

.wind-speed-row .Title h3{
    font-size: 1.75rem;
    color: rgb(66, 196, 247);
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.wind-speed-row {
    border-radius: 5px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: initial;
    border-left-style: solid;
    border-top-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-bottom-color: initial;
    border-left-color: rgb(216, 216, 216);
    border-image: initial;
}

.wind-histo-polar .wind-histogram .Title h3{
    font-size: 1.75rem;
    color: rgb(66, 196, 247);
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.wind-histo-polar .wind-histogram .Title{
    border-bottom: 1px solid rgb(216, 216, 216);
}

.histogram-slider {
    top: 40px;
    z-index: 1000000;
    width: 65%;
    position: relative;
    margin: 0px auto;
    left: 25px;
}

.wind-histo-polar .wind-histogram .bin-size {
    font-size: small;
    right: 65px;
    top: 50px;
    float: right;
    z-index: 10000000;
    position: relative;
    font-family: Raleway;
    margin: 0px;
    display: inline-block;
}

.wind-histo-polar .wind-histogram .bin-auto{
    font-size: small;
    top: 45px;
    z-index: 1000000;
    position: relative;
    display: inline-block;
    left: 90px;
}

.wind-histo-polar .wind-histogram .js-plotly-plot .plot-container .svg-container .modebar{
    z-index: -100;
}

.wind-speed-row .wind-speed .js-plotly-plot .plot-container .svg-container .modebar{
    z-index: -100;
}

.wind-histo-polar .wind-histogram{
    border-radius: 5px;
    width: 68.4%;
    border: 1px solid rgb(216, 216, 216);
}

.wind-histo-polar .wind-polar .Title h3{
    font-size: 1.75rem;
    color: rgb(66, 196, 247);
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.wind-histo-polar .wind-polar .Title{
    border-bottom: 1px solid rgb(216, 216, 216);
}

.wind-histo-polar .wind-polar {
    border-radius: 5px;
    float: right;
    height: 532px;
    width: 280px;
    margin-left: 0px;
    border: 1px solid rgb(216, 216, 216);
}

.wind-histo-polar{
    margin-bottom: 0px;  
}