/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
-
*/

/* Colors
––––––––––––––––––––––––––––––––––––––––––––––––––
- label    old         kris      aanika
- white1:  whitesmoke  #??????   #F5F5F5
- gray1:   darkgray    #4B5460   #4B5460
- gray2:   darkgray    darkgray  #ABBACC
- black1:  #2D3038     #1E2130   #1E2130
- black2:  #1D202D     #161A28   #171A29
- blue:    #91DFD2     #92E0D3   #92E0D3
- yellow:  #F4D44D     #??????   #F5D54C
- red:     #F45060     #??????   #F45060
*/

body {
  background-color: #1E2130;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0; /*TODO: remove*/
}

h6 {
  color: #ABBACC;
  font-size: 16px;
  line-height: 1;
}

h5 {
  font-family: 'Open Sans Semi Bold', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#big-app-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
}

/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.banner {
  height: fit-content; /* TODO: change to 6rem */
  width: 100%;
  padding: 1rem 10rem; /* TODO: change to 1rem 4rem */
  border-bottom: 1px solid #4B5460;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#banner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.banner Img {
  height: 38px; /* same as button height */
  margin: 0 1rem;
}

.banner button {
  color: #ABBACC;
  margin-right: 1rem; /* TODO: change to 2% */
  line-height: 3rem;
  border-color: #4B5460;
}

.banner button:hover {
  color: #92E0D3;
  border-color: whitesmoke;
}

.modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1005; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.markdown-container {
  width: 60vw;
  margin: 10% auto;
  padding: 1rem 2rem;
  background-color: #1E2130;
}

.close-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 38px;
}

.close-container .button {
  color: #ABBACC;
  font-weight: normal;
  float: right;
  height: 100%;
  border: none;
}

.close-container .button:hover {
  color: #92E0D3;
}

/*@media only screen and (max-width: 950px) {
  .banner {
    height: 12rem;
  }
}*/

/* Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#app-container {
  background: #161A28;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 10rem - 6px);
}

#app-content {
  background: inherit;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.section-banner {
  padding: 1rem 2rem;
  border-bottom: 1px solid #4B5460;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#app-tabs {
  height: fit-content;
  background-color: #1E2130;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

#app-tabs .tab {
  height: 18px;
  border: 0;
  border-bottom: #1E2130 solid 6px !important;
  background-color: #161A28;
  color: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#specs-tab.tab {
  margin-right: 3px;
}

#control-chart-tab.tab {
  margin-left: 3px;
}

#app-tabs .tab--selected {
  border-bottom: #92E0D3 solid 6px !important;
}

/* Tab 1 Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#specs-container {
  margin: 5rem;
}

#settings-menu {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

#metric-select-menu {
  flex: 1 1 0;
}

#value-setter-menu {
  margin-left: 5rem;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

#settings-menu .row {
  margin-top: 2rem;
}

#settings-menu .row:nth-child(1) {
  margin-top: 0;
  padding-bottom: 1rem;
}

#metric-select-menu .row:nth-child(2) {
  margin-top: 0;
}

#value-setter-menu .row:nth-child(1) {
  border-bottom: 1px solid #4B5460;
}

#value-setter-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#value-setter-buttons button {
  color: #ABBACC;
  border-color: #4B5460;
  margin-left: 20px;
}

#value-setter-buttons button:hover {
  color: #92E0D3;
  border-color: whitesmoke;
}

/* Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Select-control {
  border: 1px solid #4B5460 !important;
}

.Select.is-focused:not(.is-open) > .Select-control {
  border: 1px solid #91DFD2 !important;
}

.Select-control div {
  background-color: #1E2130;
}

.Select-control .Select-value .Select-value-label {
  color: whitesmoke !important;
}

.Select-clear-zone {
  color: #ABBACC !important;
}

.Select-arrow {
  border-color: #ABBACC transparent transparent !important;
}

.Select-menu-outer {
  border: 1px solid #4B5460 !important;
}

.Select-menu-outer div {
  padding-left: 2px;
  background-color: #1E2130 !important;
}

.Select-menu-outer div:hover {
  background-color: #161A28 !important;
  cursor: pointer;
}

/* Numeric Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.react-numeric-input, .react-numeric-input input {
  width: 100% !important;
  height: 100%;
}

.react-numeric-input input {
  background-color: #1E2130 !important;
  border-color: #4B5460 !important;
  color: whitesmoke !important;
}

.react-numeric-input b:nth-child(2) i {
  border-color: transparent transparent #ABBACC !important;
}

.react-numeric-input b:nth-child(3) i {
  border-color: #ABBACC transparent transparent !important;
}

/* Tab 2 Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#status-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#quick-stats {
  max-width: 25%;
  padding: 5rem 0;
  background-color: #171A29;
  border-right: 6px solid #1E2130;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#card-1, #card-2, #utility-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#card-1 {
  margin-bottom: 3rem;
}

#utility-card {
  height: 4rem !important;
  margin-top: 2rem;
}




#quick-stats button {
  height: 40px;
  background-color: #1E2130 !important;
  line-height: 40px;
  color: #ABBACC;
  border: 1px solid #4B5460;
  border-radius: 4px;
}

#quick-stats button:hover {
  color: #92E0D3;
  border-color: whitesmoke;
}

#graphs-container {
  max-width: calc(75% - 6px);
  background-color: #171A29;
  flex: 3 1;
  display: flex;
  flex-direction: column;
}

#top-section-container {
  height: 40rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

#metric-summary-session {
  height: 100%;
  flex: 1 1 auto;
}

#metric-div {
  padding: 1rem 2rem;
}

#metric-rows {
  overflow-y: scroll;
  width: 100%;
  height: 30rem;
}

#metric-rows button {
  padding: 0;
  color: #ABBACC;
  font-weight: normal;
  border: none;
}

#metric-rows button:hover, #metric-rows button:focus {
  color: whitesmoke;
}

#ooc-piechart-outer {
  height: 100%;
  margin: 0;
  border-left: 6px solid #1E2130;
  flex: 1 1 auto;
}

#control-chart-container {
  position: relative;
  z-index: 4;
  width: 100%;
  border-top: 6px solid #1E2130;
}



/* LED Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#operator-led > div > div {
  padding: 1rem;
  border-color: #4B5460;
}

#operator-led > div > div svg:nth-child(1) {
  margin-left: -2rem;
}

#operator-led > div > div svg:nth-child(1) path {
  stroke: transparent;
}

/* Gauge
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#progress-gauge > div, #progress-gauge > div > div, #progress-gauge > div > div > div {
  width: 100%;
  text-align: center;
}

#progress-gauge svg {
  width: 80%;
  height: auto;
  margin: 0;
}

#progress-gauge > div > div > div > div {
  color: white !important;
}

#progress-gauge .track {
  stroke: #f4d44d !important;
  stroke-width: 10;
}

#progress-gauge .track.progress {
  stroke: #fff3c5 !important;
}

#progress-gauge .scale, #progress-gauge .needle, #progress-gauge .needle-knob {
  display: none !important;
}
