body {
    background-color: white;
    color: #212121;
    font-family: "Open Sans";
    font-size: 0.85vw;
    width: 100vw;
    height: 100vh;
    max-width: 100% !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
} 

html {
    color: #212121;
    font-size: 0.85vw;
    overflow-x: hidden;  
}

.custom-upload{
    border: 1.5px dashed #D9D9D9;
    border-radius: 5px;
    height: 2vw;
    line-height: 2vw;
    width: 69%;
    font-size: 0.765vw;
    text-align: center;
}

.custom-upload::after{
    border: 1.5px dashed #D9D9D9;
    border-radius: 5px;
    height: 2vw;
    line-height: 2vw;
    width: 69%;
    font-size: 0.765vw;
    text-align: center;
}

.Select-control {
    height: 2vw !important;
    line-height: 2vw !important;
    font-size: 0.765vw !important;
}

.Select-input{
    height: 2vw !important;
    line-height: 2vw !important;
    font-size: 0.765vw !important;
}

.Select--single>.Select-control .Select-value {
    line-height: 2vw !important;
    font-size: 0.765vw !important;
}

.Select--single>.Select-control .Select-value, .Select-placeholder {
    line-height: 2vw !important;
    font-size: 0.765vw !important;
}

.Select-menu-outer {
    line-height: 2vw !important;
    width: 84% !important;
    font-size: 0.765vw !important;
    margin-bottom: 2vw;
}

input[type="email"], input[type="number"], input[type="search"], 
input[type="text"], input[type="tel"], input[type="url"], 
input[type="password"], textarea, select {
	height: 2vw !important;
	font-size: 0.765vw !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
