#ideogram-body {
    background-color: #FDFCFF !important;
    color: #303030 !important;
}
#ideogram-body ::-webkit-scrollbar {
    background-color: #FDFCFF !important;
}
#ideogram-body ::-webkit-scrollbar-thumb {
    background-color: #230047 !important;
}

#ideogram-wrapper::-webkit-scrollbar {
    display: none;
}

#ideogram-container {
    display: inline-block;
    width: calc(100vw - 600px);
    min-width:400px;
    height: 550px;
    overflow: auto;
    margin-left: 50px;
    margin-top: 50px;
    padding-right: 20px;
}

#_ideogramMiddleWrap {
    height: 550px;
}

#ideogram-feature-select {
    position: sticky;
    top: 0px;
    z-index: 100;
    display: inline-block;
    margin-bottom: -25px;
    background-color: white;
}
#ideogram-body #chr-select-1 .Select,
#ideogram-body #chr-select-2 .Select {
    width: 65px !important;
}
#ideogram-body #chr-select-1 .Select {
    margin-right: 5px;
    margin-left: 0px;
}
#ideogram-body #chr-select-2 .Select {
    margin-left: 5px;
    margin-right: 0px;
}

input.ideogram-homology-inputs, input.ideogram-annot-inputs {
    display: inline-block;
    width: 140px;
}

#ideogram-body hr {
    width: 100%;
}

#ideogram-feature-dropdown, #organism-change,
#orientation-switch, #bandlabel-switch,
#chromlabel-switch, #rotatable-switch,
#sex-switch, #fullband-switch,
#resolution-select, #chr-brush,
#annotation-select, #orientation-anote,
#chr-brush {
    display: inline-block;
    width: 140px;
}

#bandlabel-switch > div,
#chromlabel-switch > div,
#rotatable-switch > div,
#sex-switch > div,
#fullband-switch > div {
    display:inline-block !important;
    text-align: center;
}
#bandlabel-switch label,
#chromlabel-switch label,
#rotatable-switch label,
#sex-switch label,
#fullband-switch > label {
    display: inline-block;
    text-transform: lowercase;
    font-variant: all-small-caps;
    position: relative;
    top: -5px;
    font-size: 12pt;
    font-weight: 500;
}

#bandlabel-switch > div > div > div,
#chromlabel-switch > div > div > div,
#rotatable-switch > div > div > div,
#sex-switch > div > div > div,
#fullband-switch > div > div > div {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 3px;
}

#ideogram-body #chr-margin-input,
#ideogram-body #chr-height-input,
#ideogram-body #chr-width-input,
#ideogram-body #bar-input,
#ideogram-body #height-input {
    width: 140px;
    display: inline-block;
}
.ideogram-slider {
    margin-top: 10px;
}
.ideogram-slider .rc-slider-track {
    background-color: #230047 !important;
}
.ideogram-slider .rc-slider-handle {
    border-color: #230047 !important;
}
#ideogram-body h4 {
    margin-bottom: 25px;
}

#ideogram-body #chr-select-1,
#ideogram-body #chr-select-2 {
    display: inline-block;
}
#brush-data {
    font-size: 12pt;
}

#ideogram-body .control-tabs .tab--selected {
    color: #230047 !important;
}

#ideogram-body h4 {
    text-align: center;
}
