html{
  background-color: rgb(66, 75, 107);
}

body {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(66, 75, 107);
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;
  background-color: rgb(66, 75, 107);
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 15px;
  border-radius: 7px;
  padding: 40px;
  background-color: rgb(38, 43, 61);
  color: rgb(226, 239, 250);
}

.item-a:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item-b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 15px;
  border-radius: 7px;
  background-color: rgb(38, 43, 61);
  color: rgb(226, 239, 250);
}
.item-b:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: rgb(38, 43, 61);
  color: #d8d8d8; 
}

.Select-control{
  border: 0.5px solid #dbdbdb44;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color: #d8d8d8;
  font-weight: 400;
}

#circos-control-tabs {
    margin-right: 0px;
    background-color: #262B3D !important;
    font-size: 12pt;
}

.circos-tab {
    overflow-y: auto;
    padding-right: 15px;
}
.circos-controls {
    width: 100%;
    overflow: auto;
}
#circos-control-tabs .tab {
    background-color: #262B3D !important;
    color: #E2EFFA !important;
    padding: 15px;
    border-color: #557 !important;
}

#circos-control-tabs .tab--selected {
    border-top: solid 2px #7CD3F7 !important;
    color: #7CD3F7 !important;
}


#circos-tabs-orig {
    display: none;
}

#circos-tabs-orig-parent {
    display: none;
}
#circos-control-tabs .Select-value-icon {
    background-color: #232323;
}

#circos-control-tabs .Select-control, #circos-control-tabs .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    width: 140px !important;
}
#circos-control-tabs span.Select-value-label {
    color: #E2EFFA !important;
}
#circos-control-tabs .Select-input {
    padding: 0px;
}

.tab.jsx-3468109796 {
    background-color: rgb(38, 43, 61);
}