body{
    background-color: #fafafa;
    color: #828282;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: block;
    float: left;
    padding-bottom: 48px;
}

.title{
    color: #1f1f1f;
    font-weight: 900;
    font-size: 3.2em;
}

.logo{
    width: 175px;
    padding: 5px;
    float: right;
    margin: 18px;
}

h4{
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
}

#cytoscape{
    height: 95vh;
    width: 100%;
    background-color: white;
    margin:auto;
}

.div-info{
    padding-bottom: 14px;
    border-bottom: 1px solid #1f1f1f60
}

.button{
    background-color: #3ed6d2;
    color: white;
    border: none;
}   

@media only screen and (max-width: 550px){
    .button{
        width: 100%;
    }
}

