#needleplot-body {
    background-color: #E8F0F9 !important;
    color: #5b5b5b !important;
    padding-top: 40px;
    min-height: calc(100vh - 75px);
    overflow: auto;
}

#needleplot-body ::-webkit-scrollbar {
    background-color: #E8F0F9 !important;
}
#needleplot-body ::-webkit-scrollbar-thumb {
    background-color: #76D5FF;
}
#needleplot-wrapper {
    display: inline-block !important;
    padding: 0px;
    margin-top: 101px;
    margin-left: 130px !important;
}
#needle-plot {
    transform: scale(1.2222);
}

.control-upload, .needle-upload{
    display: block;
    border: dotted 1px #119DFF;
    border-radius: 5px;
    padding: 30px;
    font-size: 9pt;
    text-align: center;
}
.control-download {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 7pt;
    transition-duration: 500ms;
}

#needleplot-control-tabs .tab {
    /*background-color: #F3F3F3;*/
    color: #000000;
    font-weight: 200;
    font-size: 9pt;
    border: solid 1px #DDDDDD;
    height: 50px;
    padding: 15px;
}
#needleplot-control-tabs .tab--selected {
    /*border-color: #76D5FF !important;*/
    color: #76D5FF !important;
    border-top: 2px solid #76D5FF;
    border-bottom: none;
}
#needle-stem-thick-input, #needle-head-size-input {
    display: inline-block;
    float: right;
    margin-top: 10px;
}
#needleplot-body .rc-slider {
    width: 150px;
    float: right;
}

#needleplot-body .rc-slider-track {
    background-color: #76D5FF;
}

#needleplot-body .rc-slider-handle {
    border: solid 2px #76D5FF;
}

.needleplot-option-name {
    display: table-cell;
    vertical-align: middle;
    font-size: 14pt;
    width: 160px;
    padding-top: 15px;
    padding-bottom: 20px;
}
#needle-stem-color-dropdown, #needle-head-color-dropdown,
#needle-head-symbol-dropdown, #needle-dataset-select-dropdown,
#needle-dataset-dropdown, #needle-download-data-dropdown,
#needle-domains-color-dropdown {
    width: 150px;
    float: right;
}

.needle-radio, .needle-radio label {
    width: 100px;
}
.needle-radio {
    margin-top: 5px;
    display: inline-block;
}
.needle-checklist {
    display: inline-block;
    padding-top: 5px;
}
#needle-download-data-button-link {
    display: block;
}
#needle-download-data-button{
    width: 100%;
}
#needle-download-data-button:hover {
    color: #76D5FF !important;
    border-color: #76D5FF !important;
}
input#needle-sequence-input {
    margin-right: 30px;
}
