body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  color: #506784;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.pretty_container {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

input {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.button {
  border-radius: 10px;
  box-shadow: 4px 4px 4px lightgrey;
  transition: box-shadow 0.5s;
}

.button:hover {
  box-shadow: 4px 4px 4px grey;
  transition: box-shadow 0.5s;
}

.row {
  align-items: center;
}

._dash-undo-redo {
  display: none;
}

.header {
  margin: 0px;
  background-color: white;
  height: 85px;
  color: black;
  padding-right: 5%;
  padding-left: 5%
}

.control .Select-control {
  border: none;
}

.modal {
  display: block;
  /*Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 2rem;
  width: 50%;
  /* Could be more or less, depending on screen size */
  color: #506784;
  border-radius: 5px;
}

._dash-undo-redo {
  display: none;
}

.app-title {
  color: black;
  font-size: 3rem;
  letter-spacing: -.1rem;
  vertical-align: middle
}


table {
  border: 1px;
  font-size: 1.3rem;
  width: 100%;
  font-family: Ubuntu;
}

#lead_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.control {
  grid-column: span 2;
  align-self: end;
}

#new_lead {
  grid-column: 12 / 13;
  align-self: end
}

#leads_per_state {
  grid-column: 1 / 5;
  grid-row: 2 / 7;
}

#lead_grid > .indicators {
  grid-row: 2 / 3;
  grid-column: 5 / 13;
  display: flex;
}

#submit_new_lead {
  padding: 10px
}

.indicator {
  flex: 1;
}

#leads_source_container {
  grid-row: 3 / 7;
  grid-column: 5 / 9;
}

#converted_leads_container {
  grid-row: 3 / 7;
  grid-column: 9 / 13
}

#leads_table {
  grid-row: 7 / 13;
  grid-column: 1 / 13;
}

#opportunity_grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#new_opportunity {
  grid-column: 12 / 13;
  align-self: end;
}

#converted_count_container {
  grid-column: 1 / 5;
  grid-row: 2 / 7;
}

#opportunity_indicators {
  grid-column: 5 / 13;
  display: flex;
}

#opportunity_heatmap {
  grid-column: 5 / 13;
  grid-row: 3 / 7;
}

#top_open_container {
  grid-column: 1 / 7;
  grid-row: 7 / 11;
}

#top_lost_container {
  grid-column: 7 / 13;
  grid-row: 7 / 11;
}

#cases_grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#new_case {
  grid-column: 12 / 13;
  align-self: end;
}

#cases_types_container {
  grid-column: 1 / 5;
  grid-row: 2 / 6;
}

#cases_indicators {
  display: flex;
  grid-column: 5 / 13;
}

#cases_reasons_container {
  grid-column: 5 / 9;
  grid-row: 3 / 6;
}

#cases_by_period_container {
  grid-column: 9 / 13;
  grid-row: 3 / 6;
}

#cases_by_account_container {
  grid-column: 1 / 13;
  grid-row: 6 / 10;
}
